* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body {
	font-family: brandon-grotesque, Helvetica, sans-serif !important;
	perspective: 800px;
	background-color: #21212d !important;
	border-top: 1em #3f4756 solid;
	
}
/*PRELOADING BCKG IMG*/
/*
body::after{
	position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
	content: url('https://jennp1987.github.io/Creative-Cog-Design/images/creativeCogHeaderNewpng825.png');
}
*/

/*MAIN*/
main{
transition: transform 150ms ease-out;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	max-width: 100%;
	background-color: #3f4756 !important;
	transform: none;
}
main.menu-active {
	transform: translateX(1em) rotateY(1deg);
}

/*NAV*/
nav {
	
}

.navbar > button {
	background-color: #353441;
	color: white;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 200;
	line-height: 60px;
	font-size: 0.8em;
	letter-spacing: .1em;
	border-radius: 0;
}

.navbar > button:hover {
	color: #353441 !important;
	background: white !important;

}

.navbar-nav .nav-link {
	padding-left: 1em !important;
}

.navbar li {
	list-style: none;
	padding-right: .5em;


}

#collapseExample > ul > li.nav-item.dropdown.show > div {
	background-color: #353441;
}

.navbar li,
collapseExample > ul > li.nav-item.dropdown > div {
	background-color: #353441;

}

/*STYLES A*/
#collapseExample > ul > li > a,
#collapseExample > ul > li.nav-item.dropdown.show > div > div:nth-child(1) > a,
#collapseExample > ul > li.nav-item.dropdown.show > div > div:nth-child(2) > a {
	color: #bbd1df;

}

/*HOVER STYLE*/
#collapseExample > ul > li > a:hover,
#collapseExample > ul > li.nav-item.dropdown.show > div > div:nth-child(1) > a:hover,
#collapseExample > ul > li.nav-item.dropdown.show > div > div:nth-child(2) > a:hover {
	color: #9dc6d1;
}
.navbar li a:hover {
	background-color: #a4844e;
	

}
.navbar-toggler:focus,
 li .dropdown a:active, #collapseExample > ul > li.nav-item.dropdown.show > a{
	outline: none;
}

/*STYLE THE INNER Of DROPDOWN*/
#collapseExample > ul > li.nav-item.dropdown.show > div {
	padding: 0;
	border: none;
}
/*END NAV*/

/*section fixed*/
.jumbotron.img-fluid {
	/* background: url('../images/aboutMeLgPhoto.jpg') center center no-repeat fixed;   */
	background: url('../images/aboutPhoto8.jpg') center center no-repeat fixed;
 	/* background-size: contain;   */
	max-width: 100%;
	height: 854px;
	/* height: 100%; */
	/* height:auto; */
	margin: 0 auto;
	display: block;
	padding: 0 !important;
	margin-bottom: 0 !important;
	border-radius: 0 !important;
	background-color: #21212d !important;
	/* background-color: none !important; */
	/* background-color:white !important; */
}
div.overlay{
	/* max-width: inherit; */

	/* width: 100%;
	height: 854px;  */

	/* height: 100%; */
	/* margin: 0 auto;
	display: block; */

	/* position: absolute;  */
    /* opacity: 0.20; */
	/* background-color: rgba(75, 119, 190, 1); */
	/* z-index: 10;  */


}


/*section end*/
/*ARTICLE BEGIN*/
article{
	background-color: white;
	text-align: left;
	padding-top: 3em;
}
article h1{
	text-align: center;
	font-size: 3em;
	/* color:#a3abbd; */
	color: #3f4756;
}
/* article h1 span{
	font-family: brandon-grotesque, sans-serif !important;
		-webkit-text-stroke: 1.5px #a4844e;
		-webkit-text-fill-color: white;
		font-weight: 300;
		font-style: normal;  
} */
article p{
	margin: 0 auto;
	margin-bottom: 0;
	max-width: 695px;
	height:auto;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-size: 1.5em;
	font-style: normal;
	color: #383838;
	line-height: 2em;
}

article > p > a{
	/* text-align: left;
	max-width: 695px; */
	color: #5a86ad;
	text-decoration: underline;
	cursor: grab;
}
  p a:hover, p a:visited{
	color: #3f4756;
}


/*ARTICLE ENDS*/


/*BEGIN ASIDE - FIND ME*/
 main > aside{
	background-color: white;
	width: inherit;
	height: auto;
	padding-bottom: 7em;
	padding-top: 7em;
	margin: 0 auto;
	text-align: center;
	display: ;


}

main > aside > h4 {
	font-size: 3em;
	color: #3f4756;
	text-align: center;
	margin-top: 1.5em;
	display: block;
}

aside ul {

	list-style: none;
	display: block;
}

aside li {
	width: 80%;
	height: auto;
	font-size: 2em;
	margin: 0 auto;
	line-height: 2em;
}
aside a{
	color: #5a86ad;
}
aside a:hover, aside a:visited{
	color: #3f4756;
}
aside ul li, aside ul li a{
	/* font-weight: bolder; */
}
/*END ASIDE - FIND ME*/
/*BEGIN FOOTER*/
footer {
	background-color: #a4844e;
	width: 100%;
	height: auto;
	padding: 2em 0 2em 0;
}

footer p {
	text-align: center;
	color: #fff;
	font-size: 1.2em;
	line-height: 1.5em;
}
/*EX LG*/
@media only screen and (max-width: 1222px) and (min-width: 1162px) {
	article h1{
		font-size: 2.75em;
	} 
	article p{
		font-size: 1.4em;
		line-height: 1.9em;
	}

}
/*large*/
@media only screen and (max-width: 1161px) and (min-width: 992px) {
	article h1{
		font-size: 2.4em;
	} 
	article p{
		font-size:1.3em;
		line-height: 1.8em;
		max-width: 580px;
	}
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1), body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2){
		font-size: 1.5em;
		 
	} 
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1) > a, body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2) > a{
		display: block;
		
		
	}


}
/*medium*/
@media only screen and (max-width: 991px) and (min-width:768px) {
	article h1{
		font-size: 1.9em;
	} 
	article p{
		font-size:1.2em;
		line-height: 1.7em;
		max-width: 440px;
	}
	main > aside{
		padding-top: 1em;
		padding-bottom: 3.5em;
	}
	main > aside > h4{
		font-size: 2.3em;
		margin-bottom: 1em;
	}
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1), body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2){
		font-size: 1.2em;
		 
	} 
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1) > a, body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2) > a{
		display: block;
		
		
	}

}

/*AFTER 767px MAIN GOES TO FLUID SCREEN*/

/*ALL SCREENS SMALLER THAN 767*/
@media only screen and (max-width:767px) {

	body > div > div > div.col-lg-2.col-md-2.col-sm-12.navDiv {
		position: absolute !important;

	}
	body > div > div > div.col-lg-8.col-md-8.col-sm-12{
		padding: 0;
	}
	main.menu-active{
		transform: none; 
	}

	header .jumbotron {
		/* position: relative; */

	}
	body > div > div > div.col-lg-2.col-md-2.col-sm-12 > nav, .navDiv{
		 padding: 0 !important; 
	}
	/* .navDiv {
		padding-left: 0px !important;
		padding-right: 0px !important;
		


	} */
@media only screen and (max-width: 767px) and (min-width: 576px) {
	article h1{
		font-size: 2em;
	} 
	article p{
		font-size:1.3em;
		line-height: 1.7em;
		max-width: 500px;
	}
	main > aside{
		padding-top: 1em;
		padding-bottom: 3.5em;
	}
	main > aside > h4{
		font-size: 2.3em;
		margin-bottom: 1em;
	}
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1), body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2){
		font-size: 1.4em;
		 
	} 
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1) > a, body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2) > a{
		display: block;
		
		
	}

}


    