* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body {
	font-family: brandon-grotesque, Helvetica, sans-serif !important;
	perspective: 800px;
	background-color: #21212d !important;
	border-top: 1em #3f4756 solid;
	
}

/*MAIN*/
main{
transition: transform 150ms ease-out;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	max-width: 100%;
	/* background-color: #3f4756 !important; */
	background-color: #21212d !important;
	transform: none;
}
main.menu-active {
	transform: translateX(1em) rotateY(1deg);
}

/*NAV*/

.navbar > button {
	background-color: #353441;
	color: white;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 200;
	line-height: 60px;
	font-size: 0.8em;
	letter-spacing: .1em;
	border-radius: 0;
}

.navbar > button:hover {
	color: #353441 !important;
	background: white !important;

}

.navbar-nav .nav-link {
	padding-left: 1em !important;
}

.navbar li {
	list-style: none;
	padding-right: .5em;


}

#collapseExample > ul > li.nav-item.dropdown.show > div {
	background-color: #353441;
}

.navbar li,
#collapseExample > ul > li.nav-item.dropdown > div {
	background-color: #353441;

}

/*STYLES A*/
#collapseExample > ul > li > a,
#collapseExample > ul > li.nav-item.dropdown.show > div > div:nth-child(1) > a,
#collapseExample > ul > li.nav-item.dropdown.show > div > div:nth-child(2) > a {
	color: #bbd1df;

}

/*HOVER STYLE*/
#collapseExample > ul > li > a:hover,
#collapseExample > ul > li.nav-item.dropdown.show > div > div:nth-child(1) > a:hover,
#collapseExample > ul > li.nav-item.dropdown.show > div > div:nth-child(2) > a:hover {
	color: #9dc6d1;
}
.navbar li a:hover {
	background-color: #a4844e;
	

}
.navbar-toggler:focus,
 li .dropdown a:active, #collapseExample > ul > li.nav-item.dropdown.show > a{
	outline: none;
}

/*STYLE THE INNER Of DROPDOWN*/
#collapseExample > ul > li.nav-item.dropdown.show > div {
	padding: 0;
	border: none;
}
/*END NAV*/

/*section fixed*/
section.jumbotron.img-fluid {
	background: url('../images/aboutPhoto8.jpg') center center no-repeat fixed;
	max-width: 100%;
	height: 854px;
	margin: 0 auto;
	display: block;
	padding: 0 !important;
	margin-bottom: 0 !important;
	border-radius: 0 !important;
	background-color: #21212d !important;
}

/*section end*/
/*ARTICLE BEGIN*/

article:nth-child(2){
	width: 100%;
	height: auto;
	background-color: white;
	padding-top: 3em;
	padding-bottom: 4em;
}
article:nth-child(2) h1{
	text-align: center;
	font-size: 3em;
	color: #3f4756;
}
article:nth-child(2) p{
	margin: 0 auto;
	margin-bottom: 0;
	max-width: 695px;
	height:auto;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-size: 1.5em;
	font-style: normal;
	color: #383838;
	line-height: 2em;
}

article:nth-child(2) > p > a, article:nth-child(2) > p > a:visited{
	color: #5a86ad;
	text-decoration: underline;
	cursor: grab;
}
 article:nth-child(2) > p > a:hover, article:nth-child(2) > p > a:focus{
	color: #3f4756;
}

/*1st ARTICLE ENDS*/

/*2nd ARTICLE - Contact*/

article:nth-child(3) {
	/* background: url("../images/aboutContactBackground6.png") no-repeat; */
	background: url('../images/aboutContact1.png') no-repeat center;
	background-size: contain;
	padding: 2em 0 2em 0;
	background-position: center;
	/* max-width: 100%;
	height: auto;
	 */
	/* width: 100%;
	height: 11em; */
} 
div.D-flex{
	display: flex;
	justify-content: center;
	width: 100%;
	height: auto;
	padding-top: 1em;
	/* justify-content: space-evenly; */

}

.D-flex p{
	margin-right: 2em;
	font-size: 3em;
	color: white;
	
}
.D-flex button{
	width: 12em;
	height: 4em;
	background-color: #5a86ad;
	border: none;
	border-radius: 3px;
	font-family: brandon-grotesque, sans-serif;
	border-radius: 80px;
	letter-spacing: .1em;
	font-weight: 200;
	
}
.D-flex button a{
	/* font-family: open-sans, sans-serif !important; */
	color: white;
	font-size: 1.5em;
	
}



/*BEGIN ASIDE - FIND ME*/
 main > aside{
	background-color: white; 
	width: inherit;
	height: auto;
	padding-bottom: 7em;
	padding-top: 7em;
	margin: 0 auto;
	text-align: center;

}

main > aside > h4 {
	font-size: 3em;
	color: #3f4756;
	text-align: center;
	margin-top: 1.5em;
	display: block;
}

aside ul {
	list-style: none;
	display: block;
}

aside li {
	width: 80%;
	height: auto;
	font-size: 2em;
	margin: 0 auto;
	line-height: 2em;
	
}
aside a, aside a:visited{
	color: #5a86ad;
	text-decoration: underline;
}
aside a:hover, aside a:focus{
	color: #3f4756;
	text-decoration: underline;

}

/*END ASIDE - FIND ME*/
/*BEGIN FOOTER*/
footer {
	background-color: #a4844e;
	width: 100%;
	height: auto;
	padding: 2em 0 2em 0;
}

footer p {
	text-align: center;
	color: #fff;
	font-size: 1.2em;
	line-height: 1.5em;
}
/*EX LG*/
@media only screen and (max-width: 1578px) and (min-width:1223px ) {
	article:nth-child(3){
		/* padding: 1em 0; */
	}
	article > .D-flex > p{
		margin-right: 1em!important;
		font-size: 2.5em;
	}

	.D-flex button{
		width: 10em;
		height: 3em;
	}
	.D-flex button a{
		font-size: 1.5em;
	}


	
}
/*EX LG*/
@media only screen and (max-width: 1222px) and (min-width: 1162px) {
	 h1{
		font-size: 2.75em !important;
	} 
	main > article:nth-child(2) > p{
		font-size: 1.4em;
		line-height: 1.9em;
	}
	article:nth-child(3){
		/* height: 15em; */
		background: url("../images/aboutContact2.png") no-repeat center;
		background-size: contain;
		background-position: center;
		padding: 0;
		/*padding: 0 1em 0 1em;
		width: 100%; */
		
	}
	article > .D-flex{
		flex-direction: column;
		align-items: center;
		padding-bottom: 3em;
	}
	
	article > .D-flex > p{
		margin-right: 0px;
		/* width: 100%; */
		/* height: auto; */
		font-size: 2.5em;
		margin-bottom: 1em;
		
	}
	.D-flex button{
		width: 10em;
		height: 2.75em;
	}
	.D-flex button a{
		font-size: 1.4em;
	}

}
/*large*/
@media only screen and (max-width: 1161px) and (min-width: 992px) {
	 h1{
		font-size: 2.4em !important;
	} 
	main > article:nth-child(2) > p{
		font-size:1.3em;
		line-height: 1.8em;
		max-width: 580px;
	}
	article:nth-child(3){
		/* height: 15em; */
		/* background: url("../images/aboutContactBackground9.png") no-repeat center center;
		background-size: contain;
		padding: 0; */
		background: url("../images/aboutContact2.png") no-repeat;
		background-size: contain;
		background-position: center;
		padding: 0;
		
	}
	article > .D-flex{
		flex-direction: column;
		align-items: center;
		padding-bottom: 3em;
		
	}
	article > .D-flex > p{
		margin-right: 0px;
		font-size: 2.5em;
		margin-bottom: 1em;
		
	}
	.D-flex button{
		width: 10em;
		height: 2.75em;
	}
	.D-flex button a{
		font-size: 1.4em;
	}
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1), body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2){
		font-size: 1.5em;
		 
	} 
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1) > a, body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2) > a{
		display: block;
		
		
	}


}
/*medium*/
@media only screen and (max-width: 991px) and (min-width:768px) {
	h1{
		font-size: 1.9em !important;
	} 
	main > article:nth-child(2) > p{
		font-size:1.2em;
		line-height: 1.7em;
		max-width: 440px;
	}
	article:nth-child(3){
		/* height: 15em; */
		/* background: url("../images/aboutContactBackground7.png") no-repeat center center;
		background-size: cover; */
		background: url("../images/aboutContact2.png") no-repeat;
		background-size: contain;
		background-position: center;
		padding: 0;
		
	}
	article > .D-flex{
		flex-direction: column;
		align-items: center;
		padding-bottom: 1em;
		
	}
	article > .D-flex > p{
		margin-right: 0px;
		font-size: 2em;
		margin-bottom: 1em;
		
	}
	.D-flex button{
		width: 6em;
		height: 3em;
	}
	.D-flex button a{
		font-size: 1.3em;
	}
	.D-flex button{
		width: 10em;
		height: 2.75em;
		margin-bottom: 1em;
	}
	
	main > aside{
		padding-top: 1em;
		padding-bottom: 3.5em;
	}
	/* main > aside > h4{
		font-size: 2.3em;
		margin-bottom: 1em;
	}
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1), body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2){
		font-size: 1.2em;
		 
	} 
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1) > a, body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2) > a{
		display: block; */
		main > aside > h4{
			font-size: 2.3em;
			margin-bottom: 1em;
		}
		body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1), body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2)  {
			font-size: 1.2em;
	
		}
		body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1){
			margin-bottom: 1.5em;
		}
		body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1) > a, body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2)> a{
			 display: block; 
			 font-size: .9em;
		}
	
		aside ul li, aside ul li a{
			font-weight: bolder !important; 
		}
		
		
	
	

}

/*AFTER 767px MAIN GOES TO FLUID SCREEN*/

/*ALL SCREENS SMALLER THAN 767*/
@media only screen and (max-width:767px) {

	body > div > div > div.col-lg-2.col-md-2.col-sm-12.navDiv {
		position: absolute !important;

	}
	body > div > div > div.col-lg-8.col-md-8.col-sm-12{
		padding: 0;
	}
	main.menu-active{
		transform: none; 
	}

	body > div > div > div.col-lg-2.col-md-2.col-sm-12 > nav, .navDiv{
		 padding: 0 !important; 
	}

	} 


@media only screen and (max-width: 767px) and (min-width: 576px) {
	/* section.jumbotron.img-fluid{
		background: url("../images/aboutPhoto8.png") no-repeat;
		background-size: contain;
		background-position: center;

	} */
	section.jumbotron.img-fluid {
		background: url('../images/aboutPhoto767MaxHighQ.jpg') center center no-repeat;
		max-width: 100%;
		height: 502px;
		background-size: cover;
	}
	 h1{
		font-size: 2em !important;
	} 
	main > article:nth-child(2) > p{
		font-size:1.3em;
		line-height: 1.7em;
		max-width: 500px;
	}
	article:nth-child(3){
		background: url("../images/aboutContact3.png") no-repeat;
		background-size: contain;
		background-position: center;
		padding: 0;
		
	}
	article > .D-flex{
		flex-direction: column;
		align-items: center;
		padding-bottom: 1em;
		
	}
	article > .D-flex > p{
		margin-right: 0px;
		/* width: 100%; */
		/* height: auto; */
		font-size: 2.5em;
		margin-bottom: 1em;
		
	}
	/* .D-flex button{
		
		width: 6em;
		height: 3em;
	} */
	.D-flex button{
		width: 10em;
		height: 2.75em;
		margin-bottom: 1em;
		/* line-height: 60px */
		/* font-size: 0.8em; */
	}
	.D-flex button a{
		font-size: 1.3em;
	}
	main > aside{
		padding-top: 1em;
		padding-bottom: 3.5em;
	}
	main > aside > h4{
		font-size: 2.3em;
		margin-bottom: 1em;
	}
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1), body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2)  {
		font-size: 1.2em;
		display: block;
		width: 100%;
	}

	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1)> a,body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2)> a{
		font-size: 1em;
		display: block;
		width: 100%;
	}
	aside ul li, aside ul a{
		display: block;
		width: 100%;
		font-weight: bolder;
	}


}
@media only screen and (max-width: 575px) and (min-width: 460px){
	section.jumbotron.img-fluid {
		background: url('../images/aboutPhoto575MaxHighQ.jpg') center center no-repeat;
		background-size: cover;
		height: 376px;
		max-width: 100%;
		/* max-width: 100%;
		height: 854px; */
	}
	h1{
		font-size: 2em !important;
	} 
	main > article:nth-child(2) > p{
		font-size:1.3em;
		line-height: 1.7em;
		max-width: 430px;
	}
	article:nth-child(3){
		background: url("../images/aboutContact3.png") no-repeat;
		background-size: contain;
		background-position: center;
		padding: 0;
		
	}
	article > .D-flex{
		flex-direction: column;
		align-items: center;
		padding-bottom: 1em;
		
	}
	article > .D-flex > p{
		margin-right: 0px;
		/* width: 100%; */
		/* height: auto; */
		font-size: 2em;
		margin-bottom: 1em;
		
	}
	.D-flex button{
		border-radius: 80px;
		width: 7.5em;
		height: 2.75em;
		margin-bottom: 1em;
	}
	.D-flex button a{
		font-size: 1.3em;
	}
	main > aside{
		padding-top: 1em;
		padding-bottom: 3.5em;
	}
	main > aside > h4{
		font-size: 2.3em;
		margin-bottom: 1em;
	}	main > aside > h4{
		font-size: 2.3em;
		margin-bottom: 1em;
	}
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1), body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2)  {
	 	font-size: 1.2em; 
		display: block;
		width:100%;
	}
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2){
		margin-top: 2em;
	
	}
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1) > a, body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2) > a{
		font-size: 1em;
		display: block;
		width: 100%;
	}
	aside ul li, aside ul a{
		display: block;
		width: 100%;
		font-weight: bolder;
	}

}
@media only screen and (max-width: 459px) and (min-width: 363px) {
	section.jumbotron.img-fluid {
		background: url('../images/aboutPhoto459MaxHighQ.jpg') center center no-repeat;
		background-size: cover;
		height: 300px;
		max-width: 100%;
		/* max-width: 100%;
		height: 854px; */
	}
	h1{
		font-size: 1.8em !important;
	} 
	main > article:nth-child(2) > p{
		font-size:1.2em;
		line-height: 1.5em;
		max-width: 350px;
	}
	article:nth-child(3){
		background: url("../images/aboutContact3.png") no-repeat;
		background-size: contain;
		background-position: center;
		padding: 0;
		
	}
	article > .D-flex{
		flex-direction: column;
		align-items: center;
		padding-bottom: 1em;
		
	}
	article > .D-flex > p{
		margin-right: 0px;
		/* width: 100%; */
		/* height: auto; */
		font-size: 1.7em;
		margin-bottom: 1em;
		
	}
	.D-flex button{
		border-radius: 80px;
		width: 7.5em;
		height: 2.75em;
		margin-bottom: 1em;
	}
	.D-flex button a{
		font-size: 1.3em;
	}
	main > aside{
		padding-top: 1em;
		padding-bottom: 3.5em;
	}
	main > aside > h4{
		font-size: 2.3em;
		margin-bottom: 1em;
	}	
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1), body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2)  {
	 	font-size: 1.2em; 
		display: block;
		width:100%;
	}
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2){
		margin-top: 2em;
	
	}
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1) > a, body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2) > a{
		/* font-size: 1em; */
		font-size: .8em;
		display: block;
		width: 100%;
	}
	aside ul li, aside ul a{
		display: block;
		width: 100%;
		font-weight: bolder;
	}


}


    