* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family:  acumin-pro, sans-serif !important;
	background-image: linear-gradient(to right, #000,#ed2040) !important;
  /* border-top: 1em #000 solid; */
  color: #fff !important;
  width: 100%;
  height: auto;
  /* font-size: 100% !important;	 */
  font-weight: 400;
  font-style: normal;
  /* font-size: 1.8em; */
  font-size: 16px !important;	
}
h1, h4{
    margin-bottom: .75em !important;
}
h2{
  margin-bottom: 0px !important;
}
.container-fluid, .row, .col{
    margin: 0 !important;
    padding: 0 !important;
} 
#back{
  padding-top:2em;
}
#back a{
    color: #fff !important;
    text-decoration: underline;
    margin-left: 3em;
    
}
  /*HEADER*/
  .container-fluid div:nth-child(1), .socialMedia article, section, .logos{
    padding-left: 0 !important;
    padding-right: 0 !important;

  }
  .logo img{
      width: 50%;
  }
  h1{
    font-family: acumin-pro-condensed, sans-serif;
    font-weight: 200;
    font-style: normal;
    margin-top: 0px !important;
    margin-bottom: 30px !important;

  }
  hr{
      border: 1px solid #fff !important;
      /* width: 60%; */
  }
  header hr:nth-child(1){
    margin-bottom: 2em !important;
    
  }
  body > div > div > div.row > header > div:nth-child(3) > hr:nth-child(3){
    margin-top: 2em;
    margin-bottom: 180px;
  }
  header div:nth-child(3) p{
    font-family: "acumin-pro-wide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8em;
    line-height: 43.4px;
    /* padding-bottom: 2em; */
  }
  header div:nth-child(3) p,  header div:nth-child(3) hr{
    margin: 0 auto;
    width: 49%;
    height: auto;
  }
/*HEADER ENDS*/
/*SOCIAL MEDIA POSTS*/
.socialMedia{
  background-color: #fff;
}
.socialMedia div:nth-child(2){
  padding-left: 4.5em;
}
 /* article, .logos div:nth-child(1){
  padding-bottom: 3em;
} */
article img{
  /* padding-top: 3em; */
  /* padding-bottom: 3em; */
}
h2{
 text-transform: uppercase;
 background: #000000;
 padding: 30px 0 30px 0;
   
}

span{
  color: #ed2040;
  margin-right: 5px;
}
#socialMediaFlyers{
  background-image: url('../images/burnDomainBackground4.png');
  background-size:cover ;
	background-position: center;
	height: auto;
	background-repeat:no-repeat;
}
.socialMediaFlyers{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#socialMediaFlyers img{
  width: 25%;
  height: auto;
 
}
.socialMedia div{
  background-color: #000000;
}
#socialMediaFlyers img:nth-child(1), #socialMediaFlyers img:nth-child(2){
  margin-bottom: 60px;
}
/* #socialMediaFlyers > div:nth-child(3),#socialMediaFlyers > div:nth-child(4),  #socialMediaFlyers > div:nth-child(5){ */
  #socialMediaFlyers > div:nth-child(3){
  background-color: #000000 !important;
  height: auto;
  padding: 30px 0 !important;
  text-align: left;
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.7em;
  line-height: 33.6px;
}
 .container-fluid div img, .logos img{
  margin: 0 auto;
  display: block;
  margin-top: 3em;
}
/*FIRST BUSINESS CARD IMG*/
body > div > div > article > img:nth-child(4), .logos div:nth-child(2) img, section.about div:nth-child(2) img{
  margin-bottom: 3em;
}

/*SOCIAL MEDIA POSTS END*/
/*ABOUT*/
.about{
  border-style: outset;
  border-width: 50px;
  border-image: linear-gradient(45deg, rgb(0,0,0),#ed2040) 1;
  background-color: #000;
  color: #fff;
 
}
/*, .logos div:nth-child(1)*/
.about div{
  padding: 3em 0 0 0;
  /* padding: 3em 0 !important; */
}

.about h3{
  font-size: 2em;
}
.about p, .logos p{
  font-size: 1.5em;
  line-height: 34.8px;
  margin-bottom: 2em;
}
.fontFamily {
  padding-bottom: 3em;
  max-width: 100%;
}
.fontFamily p{
  letter-spacing: 3px;
  margin-bottom: .75em;

}
.fontFamily p:nth-child(1), .fontFamily p:nth-child(4), .fontFamily p:nth-child(7){
  margin-bottom: .5em;
  font-size: 2.3em;
  letter-spacing: 1px;
}
.fontFamily p:nth-child(1), .fontFamily p:nth-child(2), .fontFamily p:nth-child(3){
  font-family: acumin-pro-extra-condensed, sans-serif;
  font-weight: 800;
  font-style: normal;
}
.fontFamily p:nth-child(4), .fontFamily p:nth-child(5), .fontFamily p:nth-child(6){
  font-family: acumin-pro-condensed, sans-serif;
  font-weight: 200;
  font-style: normal;
}
.fontFamily p:nth-child(7), .fontFamily p:nth-child(8), .fontFamily p:nth-child(9){
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.fontFamily p:nth-child(3), .fontFamily p:nth-child(6), .fontFamily p:nth-child(9){
  margin-bottom: 2em;
}
.fontFamily p:nth-child(2), .fontFamily p:nth-child(3), .fontFamily p:nth-child(5), .fontFamily p:nth-child(6), .fontFamily p:nth-child(8), .fontFamily p:nth-child(9){
  font-size: 1.9em ;
   /* Create the gradient. */
   background-image: linear-gradient(45deg, #aa003d, #ed2040);
    /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

}
/* section.logos .about img{
  margin: 0  0 3em 0!important;

} */
.flag div:nth-child(1){
  /* background-color: #000; */
  text-align: center;
  margin-bottom: 3em;

}
.flag h5{
  margin: 3em 0 0 0;
  text-transform: uppercase;
}
.flag img{
  width: 35%;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-bottom: 3em;
  /* border: solid 10px #000 ; */
  

}
.flag hr{
  width: 40%;
  margin: 0 auto;
}
/*ABOUT END*/
/*FOOTER BEGIN*/
footer {
	background-color: #a4844e;
	width: 100%;
	height: auto;
	padding: 2em 0 2em 0;
}

footer p {
	text-align: center;
	color: #fff;
	font-size: 1.2em;
	line-height: 1.5em;
}
/*MEDIA QUERIES*/
/*LG DEVICES*/
@media only screen and (max-width: 1500px) and (min-width: 1200px) {
  header div:nth-child(3) p{
    font-size: 1.4em;
   
    }
}
@media only screen and (max-width: 1199px) and (min-width: 992px){
 .logo img{
   width: 65%;
 }
 header div:nth-child(3) p, header div:nth-child(3) hr{
   width:62%;
  }
  header div:nth-child(3) p{
  font-size: 1.5em;
 
  }
}
/*MEDIUM DEVICES*/
@media only screen and (max-width: 991px ) and (min-width: 768px) {
  .logo img{
    width: 70%;
  }
  header div:nth-child(3) p, header div:nth-child(3) hr{
    width:68%;
   }
   header div:nth-child(3) p{
   font-size: 1.4em;
   line-height: 29px;
  
   }
   header > div:nth-child(3) > hr:first-of-type{
    margin-bottom: 1.5em !important;
   } 
   body > div > div > div.row > header > div:nth-child(3) > hr:nth-child(3){
     margin-top: 1.5em;
     margin-bottom: 150px;
   }
   h2{
     font-size: 1.8em !important;
   }
   .socialMedia div:nth-child(2) {
    padding-left: 0;
  }
  #socialMediaFlyers img {
    width: 43%;
    height: auto;
  }
  #socialMediaFlyers > div:nth-child(3){
    font-size: 1.5em;
    line-height: 34.8px;
  }
  .about p, .logos p{
    font-size: 1.3em;
  }
  .about h3{
    font-size: 1.8em;
  }
}
/*SMALL DEVICES*/
@media only screen and (max-width: 767px) and (min-width: 576px) {
  .logo img{
    width: 75%;
  }
  h1{
    font-size: 1.7rem !important;
  }
  header div:nth-child(3) p, header div:nth-child(3) hr{
    width:70%;
   }
   header div:nth-child(3) p{
   font-size: 1.4em;
   line-height: 29px;
  
  
   }
   header > div:nth-child(3) > hr:first-of-type{
    margin-bottom: 1.5em !important;
   } 
   body > div > div > div.row > header > div:nth-child(3) > hr:nth-child(3){
     margin-top: 1.5em;
   }
   h2{
    font-size: 1.5em !important;
  }
  .socialMedia div:nth-child(2) {
   padding-left: 0;
  }
  .socialMediaFlyers{
    flex-direction: column;
    
  }
  #socialMediaFlyers img {
    width: 90%;
    height: auto;
  }
 
  #socialMediaFlyers img:first-of-type{
    margin-top: 4em;
  }  
  #socialMediaFlyers img:last-of-type{
    margin-bottom: 4em;
  }
  #socialMediaFlyers > div:nth-child(3){
    font-size: 1.4em;
    line-height: 33.35px;
  }
  .about{
    border-width: 30px;
  }
  .about p, .logos p{
    font-size: 1.3em;
    margin-left: 15px !important;
    margin-right: 15px !important;
    /* line-height: 27.55px; */
  }
  .about h3{
    font-size: 1.8em;
    margin-left: 15px !important;
  }

}

/*EX SMALL DEVICES*/
@media only screen and (max-width: 575px) and (min-width: 360px){
  #back a{
    margin-left: 2.7em;
  }
  .logo img{
    width: 90%;
    margin-bottom: .8em !important;
  }
  h1{
    font-size: 1.4rem !important;
  }
  header div:nth-child(3) p, header div:nth-child(3) hr{
    width:88%;
   }
   header div:nth-child(3) p{
   font-size: 1.2em;
   line-height: 26.1px;
  
   }
   header > div:nth-child(3) > hr:first-of-type{
    margin-bottom: 1.5em !important;
   } body > div > div > div.row > header > div:nth-child(3) > hr:nth-child(3){
     margin-top: 1.5em;
     margin-bottom: 120px;
   }
   h2{
    font-size: 1.1em !important;
  }
  .socialMedia div:nth-child(2) {
   padding-left: .5em;
  }
   .socialMediaFlyers{
    flex-direction: column;
    
  }
  #socialMediaFlyers img {
    width: 95%;
    height: auto;
  }
  #socialMediaFlyers img:first-of-type{
    margin-top: 4em;
  }  
  #socialMediaFlyers img:last-of-type{
    margin-bottom: 4em;
  }
  #socialMediaFlyers > div:nth-child(3){
    font-size: 1.3em;
    line-height: 31.90px;
  }
  .about{
    border-width: 30px;
  }
  .about p, .logos p{
    font-size: 1.1em;
    margin-left: 15px !important;
    margin-right: 15px !important;
    line-height: 25px;
  }
  .about h3{
    font-size: 1.6em;
    margin-left: 15px !important;
  }
    
}