* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body {
	font-family: brandon-grotesque, Helvetica, sans-serif !important;
	perspective: 800px;
	background-color: #21212d !important;
	border-top: 1em #3f4756 solid;
	
}
/*PRELOADING BCKG IMG*/
/*
body::after{
	position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
	content: url('https://jennp1987.github.io/Creative-Cog-Design/images/creativeCogHeaderNewpng825.png');
}
*/

/*MAIN*/
main{
transition: transform 150ms ease-out;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	max-width: 100%;
	background-color: #3f4756;
	transform: none;
}
main.menu-active {
	transform: translateX(1em) rotateY(1deg);
}

/*NAV*/
.navbar > button {
	background-color: #353441;
	color: white;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 200;
	line-height: 60px;
	font-size: 0.8em;
	letter-spacing: .1em;
	border-radius: 0;
}

.navbar > button:hover {
	color: #353441 !important;
	background: white !important;
	border: none;

}

.navbar-nav .nav-link {
	padding-left: 1em !important;
}

.navbar li {
	list-style: none;
	padding-right: .5em;
}

#collapseExample > ul > li.nav-item.dropdown.show > div {
	background-color: #353441;
}

.navbar li,
#collapseExample > ul > li.nav-item.dropdown > div {
	background-color: #353441;

}

/*STYLES A*/
#collapseExample > ul > li > a,
#collapseExample > ul > li.nav-item.dropdown.show > div > div:nth-child(1) > a,
#collapseExample > ul > li.nav-item.dropdown.show > div > div:nth-child(2) > a {
	color: #bbd1df;

}

/*HOVER STYLE*/
#collapseExample > ul > li > a:hover,
#collapseExample > ul > li.nav-item.dropdown.show > div > div:nth-child(1) > a:hover,
#collapseExample > ul > li.nav-item.dropdown.show > div > div:nth-child(2) > a:hover {
	color: #9dc6d1;
}
.navbar li a:hover {
	background-color: #a4844e;

}
.navbar-toggler:focus,
 li .dropdown a:active, #collapseExample > ul > li.nav-item.dropdown.show > a{
	text-decoration: none;
	outline: none;
}

/*STYLE THE INNER Of DROPDOWN*/
#collapseExample > ul > li.nav-item.dropdown.show > div {
	padding: 0;
	border: none;
}

/*END NAV*/

/*HEADER*/
.jumbotron {
	width: 100%;
	background: url('../images/header2.png'); 
	background-size: cover;
	background-position: center;
	height: auto;
	background-repeat:no-repeat;
	background-color: #21212d;
	border-radius: 0 !important;
	margin-bottom: 0 !important;
	padding-top: 27% !important;
	padding-bottom: 27% !important; 

}

div .headerContainer {
	width: inherit;
	height: inherit;
}

.headerContainer h1 {
	display: inline-block;
	height: auto;
	font-size: 80px;
	font-family: brandon-grotesque, sans-serif !important;
	-webkit-text-stroke: 1px #a4844e;
	-webkit-text-fill-color: #21212d;
	font-weight: 300;
	font-style: normal;
}
/*FOR IE 10 & ABOVE*/
_:-ms-lang(x), .headerContainer h1  { 
	/* text-shadow: 
	0 0 2px #a4844e,
    0 0 2px #a4844e,  
    0 0 2px #a4844e,
    0 0 2px #a4844e,
	0 0 2px #a4844e;   */
	color: #a4844e;
      }

.headerContainer h2 {
	display: inline-block;
	height: auto;
	font-size: 3.75em;
	color: #fff;
	font-family: brandon-grotesque, sans-serif !important;
	font-weight: 500;
	font-style: normal;
	animation: fadeIn ease 8s;
	-webkit-animation: fadeIn ease 8s;
	-moz-animation: fadeIn ease 8s;
	-o-animation: fadeIn ease 8s;
	-ms-animation: fadeIn ease 8s;


}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@-o-keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@-ms-keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.headerContainer h3 {
	display: inline-block;
	height: auto;
	color: #a4844e;
	font-size: 55px;
	font-style: normal;
	font-family: brandon-grotesque, sans-serif !important;
	font-weight: 350;
	
}

.headerContainer h1, .headerContainer h2, .headerContainer h3{
	display: inline-block;
}
/*HEADER END*/
/*SECTION BEGIN*/
section{
	background-color: white;
	padding: 2em 0 0 0;
	width: 100%;
	height: auto;
	padding-top: 10em;
	margin: 0 auto;
}

section > div > h2.outlineText{
	text-align: center;
	font-size: 82px;
	font-family: brandon-grotesque, sans-serif !important;
	font-weight: 300;
	font-style: normal;
	color: white;
	text-shadow:
	/*TOP RIGHT, TOP LEFT, BOTTOM LEFT, BOTTOM RIGHT*/
	/* 0 0 4px #a4844e,
    0 0 4px #a4844e,  
    0 0 4px #a4844e,
    0 0 4px #a4844e,
	0 0 4px #a4844e;   */
     
}

	section > div > h2.outlineText{
		text-align: center;
		font-size: 82px;
		font-family: brandon-grotesque, sans-serif !important;
		-webkit-text-stroke: 2px #a4844e;
		-webkit-text-fill-color: white;
		font-weight: 300;
		font-style: normal;  
	
}
	_:-ms-lang(x), h2.outlineText  {

		font-size: 80px;
        color: white;
	    text-shadow: 
	   0 0 3px #a4844e,
	   0 0 3px #a4844e,  
	   0 0 3px #a4844e,
	   0 0 3px #a4844e,
	   0 0 3px #a4844e;   
 } 
article.about {
	width: 100%;
	height: 30em ;
	padding-top: 2em;
	background-color: white;
	position: relative;
	z-index: 10;
	clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
	margin-bottom: -10vw;
}
img{
	width: 60%;
	height: auto;
	margin: auto;
	display: block;

}
.about p {
	max-width: 705px;
	margin: 0 auto;
	font-size: 1.5em;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #383838;
}
/*ABOUT LINK*/

body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > section > article.about > p > a, body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > section > article.about > p > a:visited{
	text-decoration: underline;
	color: #5a86ad;
}

body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > section > article.about > p > a:hover, body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > section > article.about > p > a:focus {
	text-decoration: underline;
	color:#3f4756;
	
}



/*PROJECTS*/
/*HAS d-flex class*/
#projects {
	background-color: #3f4756;
	width: 100%;
	height: auto;
	text-align: center;
	padding-top: 15em; 
	padding-bottom: 10em;
	margin: 0 auto;
}

#projects h2{
	color: white;
	font-family: brandon-grotesque, sans-serif !important;
	font-size: 3.75em;
	margin-bottom: 1.5em;
	font-style: normal !important;
	font-weight: 500 !important;
	letter-spacing: 2px;


}
#projects div{
	font-size: 4em;
	justify-content: center; 
	display: flex;
}
.circle {
	display: inline-block;
	height: 9em;
	width: 9em;
	line-height: 18px;
	border-radius: 50%;
	color: white;
	
}
#projects div a:nth-child(1){ 
	position: relative;
	z-index: 1;
	background-color: #a3abbd;
	text-decoration: underline;
	
}
#projects div a:nth-child(2){ 
	position: relative;
	z-index: 2;
	background-color: #a4844e;
	margin-left: -100px;
	
}
#projects > div > a:nth-child(1) > p, #projects > div > a:nth-child(2) > p{
	font-family: brandon-grotesque, sans-serif !important;
	font-weight: 350 !important;
	font-style: normal !important;
	color: white;
	text-decoration: underline;
}
#projects > div > a:nth-child(1) > p:visited, #projects > div > a:nth-child(2) > p:visited{
	color: #3f4756;
}
#projects > div > a:nth-child(1) > p:hover, #projects > div > a:nth-child(2) > p:hover{
	color: #3f4756;
	text-decoration: underline;
	
}

#projects div a{ 
	display: flex;
	justify-content: center;
	align-items: center
  }
/*SECTION END*/
/*BEGIN TESTIMONIALS*/

 #recommendations {
	width: 100%;
	height: auto;
	text-align: center;
	padding: 7em 0 3em 0;
	background-color: white;
	
}
#recommendations h3{
	font-size: 3.5em;
	color: #3f4756;
}
/*BEGIN ARTICLE FOR TESTIMONIES SLIDER*/
.findMe {
	display: inline-block; 
   background-color: white;
   width: 100%;
   height: auto;
   text-align: center; 
   margin: 0 auto;
   display: flex;
   justify-content: center;

}
#carouselExampleControls{
   border: solid 5px rgb(164,132,78,.8);
   text-align: left;
   font-size: 1.3em;
   padding: 1em;
   display: block;
	position: relative; 
	z-index: 1;
	margin: 0 auto;
   width: 48%;
   height: 40%;
   font-family: open-sans, sans-serif;
   font-style: normal;
   color: #383838;
   line-height: 30px;
   font-weight: 400;
   
}
   div.testimonialCircle {
   border-radius: 40px;
   border: none;
   position: absolute; 
   z-index: 10; 
}
#circleOne{
   border: solid 3px #a3abbd;
   left: -35px; 
   top: -38px; 
   width: 60px;
   height: 60px;
}
#circleTwo{
   border: solid 3px #a3abbd;
   bottom: 10px;
   right: 10px; 
   width: 24px;
   height: 24px;
}
#circleThree{
   background: 3px  #a3abbd;
   width: 20px;
   height: 20px;
   top: -35px;
   left: 30px;
}
#circleFour{
   background: 3px #a3abbd;
   bottom: 3px;
   right: -25px; 
   width: 10px;
   height: 10px;
}
#circleFive{
   background: 3px #a3abbd;
   bottom: -27px;
   right: -6px; 
   width: 17px;
   height: 17px;
}
#circleSix{
   background: 3px #a3abbd;
   width: 10px;
   height: 10px;
   left: -25px;
   top: 29px;
}
/*NAME & POSITION*/

#carouselExampleControls > div.carousel-inner > div.carousel-item.active > p:nth-child(3),
#carouselExampleControls > div > div:nth-child(1) > div > p:nth-child(3),#carouselExampleControls > div > div:nth-child(1) > p:nth-child(4),#carouselExampleControls > div > div:nth-child(1) > p:nth-child(5), #carouselExampleControls > div > div.carousel-item.active > div > p:nth-child(3), #carouselExampleControls > div > div.carousel-item.active > p:nth-child(4), #carouselExampleControls > div > div.carousel-item.active >  p:nth-child(5){
   line-height: .5em;
}
/*ADJUST MARGIN FOR LINK*/
#carouselExampleControls > div.carousel-inner > div.carousel-item.active > p:nth-child(4){
	margin-bottom: .3em;
}

#carouselExampleControls a, #carouselExampleControls a:visited {
	text-decoration: underline;
	color:#5a86ad;
}
#carouselExampleControls a:hover,
#carouselExampleControls a:active{
	text-decoration: underline;
	color: #3f4756;
}

.carousel-inner{
	margin: 0 auto;
	width: 85% !important;
	height: 50% !important;
}
.carousel-control-prev-icon{
	/* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%6db3b7' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important; */
	background:url("https://jennp1987.github.io/Creative-Cog-Design/images/leftAngle6-02.svg") no-repeat !important;
	background-size: 100%;
	width: 100%;
	height: 100%;
	color:	rgb(220,220,220) !important;
	margin-right: 1em;
}
.carousel-control-next-icon{
	background: url("https://jennp1987.github.io/Creative-Cog-Design/images/rightAngle5-01.svg")  no-repeat !important; 
	background-size: 100%;
	width: 100%;
	height: 100%;
	color:	rgb(220,220,220) !important;
	margin-left: 1em;
}
/* #carouselExampleControls a{
	
}
#carouselExampleControls a:hover, #carouselExampleControls a:visited{
	outline-color: #3f4756;
} */


/*END ARTICLE FIND ME*/
/*END ARTICLE FOR TESTIMONIES*/

/*BEGIN ASIDE - ONLINE CONTACTS*/
 main > aside{
	background-color: white;
	width: inherit;
	height: auto;
	padding-bottom: 7em;
	padding-top: 7em;
	margin: 0 auto;
	text-align: center;;

}

main > aside > h4 {
	font-size: 3em;
	color: #3f4756;
	text-align: center;
	margin-top: 1.5em;
	display: block;
}

aside ul {

	list-style: none;
	display: block;
}

aside li {
	width: 80%;
	height: auto;
	font-size: 2em;
	margin: 0 auto;
	line-height: 2em;
}
aside a, aside a:visited{
	color: #5a86ad;
	text-decoration: underline;
}
aside a:hover, aside a:focus{
	color: #3f4756;
	text-decoration: underline;
}
/*END ASIDE - FIND ME*/

/*BEGIN FOOTER*/
footer {
	background-color: #a4844e;
	width: 100%;
	height: auto;
	padding: 2em 0 2em 0;
}

footer p {
	text-align: center;
	color: #fff;
	font-size: 1.2em;
	line-height: 1.5em;
}
/*END FOOTER*/
/*MEDIA QUERIES*/
@media only screen and (max-width: 1770px) and (min-width:1707px ) {
	#carouselExampleControls{
		/* width: 48%; */
		/* width: 60%; */
	}

}
@media only screen and (max-width: 1706px) {
	#carouselExampleControls{
		/* width: 43%; */
		/* width: 60%; */
	}
	.circle{
		width: 8em;
		height: 8em;

	}
}

/*EX EX LG SCREEN*/
@media only screen and (max-width: 1582px) and (min-width: 1552px){
	.jumbotron{
		padding-top: 20%;
		padding-bottom: 20%;
	}
	#carouselExampleControls{
		/* width: 60%; */
	}
	
	


	
}
@media only screen and (max-width: 1551px) and (min-width: 1433px) {
	.jumbotron{
		padding-top: 18%;
		padding-bottom: 18%;
	}
	.headerContainer h1{
		font-size: 75px !important;
	}
	.headerContainer h2{
		font-size: 53px;
		
	}
	.headerContainer h3{
		font-size: 38px;
	}
	.circle{
		height: 7.8em;
		width: 7.8em;
	}
	#carouselExampleControls{
		/* width: 45%; */
	}
	
	
	
}
/*EX LG SCREEN*/
@media only screen and (max-width: 1432px) and (min-width: 1200px) {
	.jumbotron{
		padding-top: 17%;
		padding-bottom: 17%;
	}
	.headerContainer h1 {
		font-size: 63px !important;
	}

	.headerContainer h2 {
		font-size: 44px !important;
	}

	.headerContainer h3 {
		font-size: 35px !important;
	}
	section > div > h2.outlineText{
		font-size: 79px;
	}
	.about p{
		max-width: 665px;
		font-size: 1.4em;
	}
	.circle{
		width: 6.5em;
		height:6.5em;

	}
	#recommendations > h3{
		font-size: 3.2em;
	}

	#projects > div > a:nth-child(1) > p, #projects > div > a:nth-child(2) > p{
		font-size: 1em;
	}
	aside h4{
		margin-bottom: .5em;
	}
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1)  {
		font-size: 1.6em;
		margin-bottom: 1em;
	}
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2){
		font-size: 1.6em;
		
	}
	




}


/*LG SCREEN*/
@media only screen and (max-width: 1199px) and (min-width: 992px) {
	.jumbotron{
		padding-top: 16%;
		padding-bottom: 16%;
	}
	.headerContainer h1 {
		font-size: 50px !important;
	}

	.headerContainer h2 {
		font-size: 35px !important;
	}

	.headerContainer h3 {
		font-size: 28px !important;
	}
	section > div > h2.outlineText{
		font-size: 70px;
	}
	.about p{
		/* max-width: 655px; */
		max-width: 600px;
		font-size: 1.4em;
	}
	.circle{
		width: 5.5em;
		height:5.5em;

	}
	#projects > div > a:nth-child(1) > p, #projects > div > a:nth-child(2) > p{
		font-size: 1em;
	}
	#recommendations > h3{
		font-size: 3.2em;
	}
	#carouselExampleControls{
		width: 70% !important;
		/*font-size: 1.3em; */
		/* width: 60%; */
		
	}
	#back > span.carousel-control-prev-icon{
		margin-left: 10px;
	}
	aside h4{
		margin-bottom: .5em;
	}
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1), body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2)  {
		font-size: 1.3em;
		margin-bottom: 1em;
	}
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1){
		margin-bottom: 1em;
	}

	aside ul li, aside ul li a{
		font-weight: bolder !important; 
		display:block;
		width: 100%;
	}

}

/*MED SCREEN*/
@media only screen and (max-width: 991px) and (min-width: 768px) {
	.container{
	padding-left:2.5em !important;
}
	.headerContainer h1 {
		font-size: 40px !important;
	}
	.headerContainer h2 {
		font-size: 29px !important;
	}
	.headerContainer h3 {
		font-size: 23px !important;
	}
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > section{
		padding-top: 5em;
	}
	section > div > h2.outlineText{
		font-size: 52px;
		-webkit-text-stroke: 1.5px #a4844e;
		-webkit-text-fill-color: white;
	}
	article.about{
		height: 20em;
	}
	.about p{
		/* max-width: 645px; */
		max-width: 450px !important;
		font-size: 1.2em !important;
	}
	#projects{
		padding-top: 10em;
		padding-bottom: 8em;
	}
	#projects h2{
		font-size: 3.25em;
	}
	.circle{
		width: 4.3em;
		height:4.3em;
	}
	#projects > div > a:nth-child(1) > p, #projects > div > a:nth-child(2) > p{
		font-size: 1em;
	}
	#projects > div > a:nth-child(1) > p{
		margin-right: .8em;
	}
	#recommendations > h3{
		font-size: 2.5em;
	}
	#carouselExampleControls{
		width: 80% !important;
		font-size: 1.1em;
		
	}
	main > aside > h4{
		font-size: 2.3em;
		margin-bottom: 1em;
	}
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1), body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2)  {
		font-size: 1.2em;

	}
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1){
		margin-bottom: 1.5em;
	}
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1) > a, body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2)> a{
		 display: block; 
		 font-size: .9em;
	}

	aside ul li, aside ul li a{
		font-weight: bolder !important; 
	}

}

/*ALL SCREENS SMALLER THAN 767*/
@media only screen and (max-width:767px) {

	body > div > div > div.col-lg-2.col-md-2.col-sm-12.navDiv {
		position: absolute !important;

	}
	main.menu-active{
		transform: none;
	}

	body > div > div > div.col-lg-2.col-md-2.col-sm-12 > nav, .navDiv {
		 padding: 0 !important; 
	}

	body > div > div > div.col-lg-8.col-md-8.col-sm-12 {
		padding-left: 0px !important;
		padding-right: 0px !important;

	}
	.jumbotron {
	max-width: 100%;
}
body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1){
	margin-bottom: 1.5em;
}
	aside ul li, aside ul li a{
		font-weight: bolder !important; 
}
}

/*SM SCREEN*/
@media only screen and (max-width: 767px) and (min-width: 577px) {
	.jumbotron{
		padding-bottom: 0;
	}

	body > div > div > div.col-lg-2.col-md-2.col-sm-12 > nav {
		padding: 0 !important;
	}
	.navbar-toggler {
		    padding: .25rem 1.2rem !important;
		
	}
	button {
		text-align: left;
	}
	.navDiv {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.headerContainer h1 {
		font-size: 40px !important;
	}

	.headerContainer h2 {
		font-size: 35px !important;
	}

	.headerContainer h3 {
		font-size: 29px !important;
	}
	.container{
		padding-left: 3em !important;
	}
	 body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > section{
		padding-top: 5em;
		/* height: 28em; */
	} 
	section > div > h2.outlineText{
		font-size: 63px;
		-webkit-text-stroke: 1.5px #a4844e;
	}
	article.about{
		height: 23em;
	}
	.about p{
		max-width: 550px; 
		font-size: 1.4em;
	}
	#projects{
		padding-top: 10em;
		padding-bottom: 8em;
	}
	#projects h2{
		font-size: 3.25em;
	}
	.circle{
		width: 4.5em;
		height:4.5em;

	}
	#projects > div > a:nth-child(1) > p, #projects > div > a:nth-child(2) > p{
		font-size: 1em;
	}
	#projects > div > a:nth-child(1) > p{
		 margin-right: .4em; 
	}
	#recommendations > h3{
		font-size: 3em;
	}
	#carouselExampleControls{
		width: 80% !important;
		font-size: 1.2em;
		
	}
	main > aside > h4{
		font-size: 2.3em;
		margin-bottom: 1em;
	}
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1), body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2)  {
		font-size: 1.2em;
		display: block;
		width: 100%;
	}

	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1)> a,body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2)> a{
		font-size: 1em;
		display: block;
		width: 100%;
	}

}

/*EX SM SCREEN*/
/*NEEDED TO FIX POSITION OF THE HEADINGS*/
@media only screen and (max-width: 576px) and (min-width: 575px) {
	.jumbotron{
		background: url('../images/newMobile576pxLargerCircles7.png');
		background-color: #21212d !important;
		width: 100%;
		height: auto;
		padding-left: 5em !important; 
		padding-bottom: 22% !important;
	}
	/*padding for headings*/
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > header > div > div > div:nth-child(1) > .col-10, body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > header > div > div > div:nth-child(2) > .col-9, body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > header > div > div > div:nth-child(3) > .col-8 {
		padding-left: 0px !important;
	}
	h1 {
		font-size: 35px !important;
		/* font-size: 40px !important;  */
	}

	.headerContainer h2 {
		font-size: 30px !important;
		/* font-size: 43px; */
	}

	.headerContainer h3 {
		font-size: 24px !important;
		/* font-size: 30px; */
	}
	section {
		padding-top: 5em;
	}
	article.about{
		height: 20em;
	}
	section > div > h2.outlineText{
		font-size: 38px !important;
		-webkit-text-stroke: 1.25px #a4844e;
	}
	.about p{
		max-width: 550px; 
		font-size: 1.2em;
	}
	#projects {
		padding-top: 10em !important; 
	}
	#projects h2{
		font-size: 3.25em;
	}
	#projects > div{
		flex-direction: column;
		align-items: center;

	}
	.circle{
		width: 5em;
		height: 5em;

	}
	/*bottom of first circle*/
	#projects > div > a:nth-child(1){
		margin-bottom: 1em;
	}
	#projects div a:nth-child(2){
		 margin-left: 0 !important;

	}
	#projects > div > a:nth-child(1) > p, #projects > div > a:nth-child(2) > p{
		font-size: 1em;
	}
	#recommendations > h3{
		font-size: 3em;
	}
	#carouselExampleControls{
		width: 80% !important;
		font-size: 1.2em;
	}
	main > aside > h4{
		font-size: 2.3em;
		margin-bottom: 1em;
	}
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1), body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2)  {
		font-size: 1.2em; 
	   display: block;
	   width:100%;
   }
   body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2){
	   margin-top: 2em;
   
   }
   body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1) > a, body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2) > a{
	   font-size: 1em;
	   display: block;
	   width: 100%;
   }
   aside ul li, aside ul a{
	   display: block;
	   width: 100%;
	   font-weight: bolder;
   }
	
	
}
/*EX SMALL*/
@media only screen and (max-width: 574px) and (min-width: 460px) {
	.jumbotron{
		background: url('../images/newMobile576pxLargerCircles7.png');
		background-size: contain;
		background-color: #21212d !important;
		width: 100%;
		height: auto;
		padding-bottom: 22% !important;
		padding-left: 5px !important;
		background-repeat: none;
		/* text-align: center;
		margin: 0 auto; */
		
	}
	/*padding for headings*/
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > header > div > div > div:nth-child(1) > .col-10, body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > header > div > div > div:nth-child(2) > .col-9, body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > header > div > div > div:nth-child(3) > .col-8 {
		/* padding-left: 0px !important; */
		/* text-align: center; */
		
	
	}
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > header > div > div > div:nth-child(1), body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > header > div > div > div:nth-child(2), body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > header > div > div > div:nth-child(3){
		/* text-align: center;
		display: block;
		margin: 0 auto; */
		/* padding-left: 2em; */
	}
	div.headerContainer{
		/* display: flex; */
		/* align-items: center; */
		/* justify-content:left ; */

/* 
		text-align: left;
		display: block;
		margin: 0 auto; */

		
	}
	h1 {
		font-size: 35px !important;
		/* font-size: 40px !important; */
		
	}

	.headerContainer h2 {
		font-size: 30px !important;
		/* font-size: 35px; */
		/* font-size: 40px; */
		
	}

	.headerContainer h3 {
		font-size: 24px !important;
		/* font-size: 30px; */
		
	}
	section {
		padding-top: 5em;
	}
	article.about{
		height: 20em;
	}
	section > div > h2.outlineText{
		font-size: 38px !important;
		-webkit-text-stroke: 1.25px #a4844e;
	}
	.about p{
		max-width: 400px; 
		font-size: 1.1em;
	}
	
	#projects {
		padding-top: 10em; 
	}
	#projects h2{
		font-size: 3.25em;
	}
	#projects > div{
		flex-direction: column;
		align-items: center;

	}
	.circle{
		width: 5em;
		height: 5em;

	}
	/*bottom of first circle*/
	#projects > div > a:nth-child(1){
		margin-bottom: 1em;
	}
	#projects div a:nth-child(2){
		 margin-left: 0 !important;

	}
	#projects > div > a:nth-child(1) > p, #projects > div > a:nth-child(2) > p{
		font-size: 1em;
	}
	#recommendations > h3{
		font-size: 2.5em;
	}
	#carouselExampleControls{
		width: 85% !important;
		font-size: 1.2em;
		
	}
	main > aside > h4{
		font-size: 2.3em;
		margin-bottom: 1em;
	}
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1), body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2)  {
	 	font-size: 1.2em; 
		display: block;
		width:100%;
	}
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2){
		margin-top: 2em;
	
	}
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1) > a, body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2) > a{
		font-size: 1em;
		display: block;
		width: 100%;
	}
	aside ul li, aside ul a{
		display: block;
		width: 100%;
		font-weight: bolder;
	}


}
/*EX SM*/
@media only screen and (max-width: 459px) and (min-width: 363px){
	.jumbotron{
		padding-left: 0 !important;
		padding-bottom: 0 !important;
		background-color: #21212d !important;
		padding-bottom: 22% !important; 
		background: url('../images/mobileMax459px9.png');
		background-repeat: none;
		background-size: cover;

	}
	.headerContainer h1 {
		/* font-size: 33px !important; */
		font-size: 30px !important;
		margin-top: 1em;
		letter-spacing: 1px;
	}

	.headerContainer h2 {
		/* font-size: 28px !important; */
		font-size: 26px !important;
		letter-spacing: 1px;
	}
	.headerContainer h3 {
		/* font-size: 22px !important; */
		font-size: 20px !important;
		letter-spacing: 1px;
	}
	/*Padding for Heading*/
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > header > div > div > div:nth-child(1) > .col-10, body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > header > div > div > div:nth-child(2) > .col-9, body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > header > div > div > div:nth-child(3) > .col-8{
		padding-left: 0 !important;
	}
	section > div > h2.outlineText{
		font-size: 45px !important;
		-webkit-text-stroke: 1.25px #a4844e;
	}
	article.about{
		height: 20em;
	}
	.about p{
		font-size: 1.1em;
		max-width: 330px;
	}
	section {
		padding-top: 3em;
	}
	#projects{
		padding-top: 10em;
		padding-bottom: 8em;
	}
	#projects > div{
		flex-direction: column;
		align-items: center;
	}
	#projects h2{
		font-size: 3em;
	}
	.circle{
		width: 4em;
		height: 4em;

	}
	/*bottom of first circle*/
	#projects > div > a:nth-child(1){
		margin-bottom: 1em;
	}
	#projects div a:nth-child(2){
		 margin-left: 0 !important;

	}
	#projects > div > a:nth-child(1) > p, #projects > div > a:nth-child(2) > p{
		font-size: 1em;
	}

	#recommendations > h3{
		font-size: 2em;
	}
	#circleOne, #circleTwo, #circleThree, #circleFour, #circleFive, #circleSix{
		display: none;
	}
	#carouselExampleControls{
		/* width: 80% !important; */
		width: 92% !important;
		font-size: 1.1em;
		line-height: 25px;
		
	}
	#back > span.carousel-control-prev-icon{
		margin-left: 10px;
	}
	main > aside > h4{
		font-size: 2.3em;
		margin-bottom: 1em;
	}
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1),body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2)  {
		font-size: 1.2em;
		display: block;
		width: 100%;
	}
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2){
		margin-top: 2em;
		display: block;
		width: 100%;
	}
	
	body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(1) > a, body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > aside > ul > li:nth-child(2)> a{
		font-size: .8em;
		display: block;
		width: 100%;
	}
	footer{
		padding: 1em 0 1em 0;
	}

}
