*{
padding: 0;
margin: 0;
}
/*
@font-face {
	font-family: 'Rezland Logotype Font';
	font-style: normal;
	font-weight: normal;
	src: local('Rezland Logotype Font'), url('REZ.woff') format('woff');
}
*/
html,
body {
height: 100%;
margin: 0;
}
body {
	font-family: Brandon Grotesque, sans-serif;
	background: #ffffff;
}
/*Nav*/
nav{
	width: 100%;
	height: 4em;
	background-color: #a4844e;
}
nav ul{
	list-style: none;
/*	margin-left: 1em;*/
	position: relative;/*needed in order to set 2nd ul to absolute*/	
}
nav ul li {
	float: left;
 	padding-top: .5em;
}
/*second UL*/
nav ul ul{
	display: none;
	position: absolute;
	top: 100%; /*to show at bottom of main menu*/
	text-align: center;
	padding: 0;
/*	margin-left: 0;*/
	
}
/*gets the first li in the dropdown*/
body > nav > ul > li:nth-child(2) > ul > li:nth-child(1){
	clear:both;
	
}
nav ul li a:hover{
	color: #336699;
	
}

nav ul li:hover > ul {
	display: block;
	background-color: #a4844e;
}
nav > ul::after{
	content: "";
	display: block;
	clear: both;
}
nav ul ul li{
	float: none;
}
nav ul li a{
	text-decoration: none;
	color: #fff;
	text-align: center;
	display: block;
	width: 175px;
	padding: 1em 0;
	font-weight: bold;
	letter-spacing: 1px;
	
}

/*End Nav*/

header { 
/*clear: both;*/
background: 
    url('https://jennp1987.github.io/Creative-Cog-Design/images/CreativeCogBkground.svg');
	background-size: cover;
	height: 100vh;
	width: 100%;
	margin-bottom: 3.5em;
	
}
/*Begin of header animation*/
.container{
	width: 50%;
	height: auto;
	padding: 5%;	
	
}
.container h1{
	font-size: 101px ;
	color: #a4844e;
	font-family: BrandonGrotesque-Thin, Brandon Grotesque;
	font-weight: 200;
	animation: move 3s ease-in-out 1s normal;
	-webkit-animation: move 3s ease-in-out 1s normal;
	-ms-animation: move 3s ease-in-out 1s normal;
	-moz-animation: move 3s ease-in-out 1s normal;
	transform: translate(50%, 90%);
	-ms-transform: translate(50%, 90%);
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
}
@-webkit-keyframes move{
	0% {transform: translate(50%, 90%);}
	100%{transform: translate(8%, 90%);}
}
.container h2{
	font-size: 70px;
	color: #fff;
	font-family: BrandonGrotesque-Medium, Brandon Grotesque;
	font-weight: 500;
	transform: translate(0%, 100%);
}

.container h3{
	font-size: 55px;
	color: #a4844e;
	font-family: BrandonGrotesque-Thin, Brandon Grotesque;
	font-weight: 200;
	-webkit-animation: webGraphics 3s ease-in-out 1s normal;
    animation: webGraphics 3s ease-in-out 1s normal;
	transform: translate(0%, 140%);
	animation-delay: 1s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
}
@keyframes webGraphics {
	0% {transform:translate(0%, 140%);}
	100%{transform: translate(50%, 140%);}
}
/*End of header animation*/

section{
	margin-top: 7em;
}

img{
	max-width: 90%;
	width: 49%;
	height: auto;
	margin: auto;
	display: block;
	margin-bottom: 2em;
}

/*ABOUT ARTICLE*/
article.about{
	margin-top: em;
	margin-bottom: 5em;
}
.about p{
	max-width: 750px;
	margin: 0 auto;
	font-size: 2em;
}

body > section > article.about > p:nth-child(3){
	text-decoration-line: underline;
}
#homePgDiv img{
	max-width: 100%;
	width: 100%;
	height: auto;
	position: relative;
	z-index: 1;
}
/*END ABOUT ARTICLE*/
/*BEGIN PROJECTS ARTICLE*/
#projects{
	background-color: #3f4756;
	width: 100%;
	height: 20em;
	position: absolute;
	top: 214%;
}