/*
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*/

li{
	list-style: none;
}

button{
	padding: 0 0 !important;
	
	
}
button .navbar-toggler{
	color: yellow;
	background-color: black !important;
	
	
}
body > div > div > nav > button{
	color: yellow;
	background-color: black !important;
	
}
