* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body {
	font-family: BrandonGrotesque, Helvetica, sans-serif !important;
/*	perspective-origin: 0% 50%;*/
	perspective: 800px;
	background-color: #21212d !important;
	border-top: 1em #3f4756 solid;
	/*
	width: 100%;
	height: auto;
*/
}
/*PRELOADING BCKG IMG*/
/*
body::after{
	position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
	content: url('https://jennp1987.github.io/Creative-Cog-Design/images/creativeCogHeaderNewpng825.png');
}
*/

/*MAIN*/
main{
transition: transform 150ms ease-out;
/*	position: absolute;*/
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
/*	padding: 1em 4em;*/
	max-width: 100%;
	background-color: #3f4756;
	transform: none;
}
main.menu-active {
	transform: translateX(1em) rotateY(1deg);
}

/*NAV*/
nav {
	font-family: BrandonGrotesque-Medium, sans-serif;
/*	z-index: 100;*/
}

.navbar > button {
	background-color: #353441;
	color: white;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 200;
	line-height: 60px;
	font-size: 0.8em;
	letter-spacing: .1em;
	border-radius: 0;
/*	z-index: 300;*/
}

.navbar > button:hover {
	color: #353441 !important;
	background: white !important;

}

.navbar-nav .nav-link {
	padding-left: 1em !important;
}

.navbar li {
	list-style: none;
	padding-right: .5em;


}

#collapseExample > ul > li.nav-item.dropdown.show > div {
	background-color: #353441;
}

.navbar li,
collapseExample > ul > li.nav-item.dropdown > div {
	background-color: #353441;

}

/*STYLES A*/
#collapseExample > ul > li > a,
#collapseExample > ul > li.nav-item.dropdown.show > div > div:nth-child(1) > a,
#collapseExample > ul > li.nav-item.dropdown.show > div > div:nth-child(2) > a {
	/* color: #9dc6d1; */
	/* color: #5a86ad; */
	color: #bbd1df;

}

/*HOVER STYLE*/
#collapseExample > ul > li > a:hover,
#collapseExample > ul > li.nav-item.dropdown.show > div > div:nth-child(1) > a:hover,
#collapseExample > ul > li.nav-item.dropdown.show > div > div:nth-child(2) > a:hover {
	color: #9dc6d1;
}
.navbar li a:hover {
	background-color: #a4844e;
	

}
.navbar-toggler:focus,
 li .dropdown a:active, #collapseExample > ul > li.nav-item.dropdown.show > a{
	outline: none;
}

/*STYLE THE INNER Of DROPDOWN*/
#collapseExample > ul > li.nav-item.dropdown.show > div {
	padding: 0;
	border: none;
}
/*NAV COLS*/
body > div > div{
/*	z-index: 400;*/
}

/*END NAV*/

/*HEADER*/
.jumbotron {
	max-width: 100%; 
	/* background: url('https://jennp1987.github.io/Creative-Cog-Design/images/creativeCogHeaderNewpng825.png');   */
	/* background: url('https://jennp1987.github.io/Creative-Cog-Design/images/header.png');  */
	 /* background: url('../images/header.png');  */
	 background: url('../images/header2.png'); 
	background-size: cover;
	/* background-size: contain; */
	background-position: center;
	/* height: 58em; */
	/* height: 100%; */
	height: auto;
	background-repeat:no-repeat;
	background-color: #21212d;
	border-radius: 0 !important;
	margin-bottom: 0 !important;
	padding-top: 27% !important;
	padding-bottom: 27% !important; 
	/* position: relative; */

}
/* .jumbotron > .overlay{
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.10);
	z-index: 1;
	width: inherit;
	height: inherit;
} */

div .headerContainer {
	width: inherit;
	height: inherit;
	/* padding: 0 0 5em 130px; */
	/* padding: 0 0 5em 140px; */


}

.headerContainer h1 {
	display: inline-block;
	/* width: 60%; */
	height: auto;
	/* font-size: 101px; */
	font-size: 80px;
	font-family: brandon-grotesque, sans-serif !important;
	-webkit-text-stroke: 1px #a4844e;
	-webkit-text-fill-color: #21212d;
	font-weight: 300;
	font-style: normal;
	/* transform: translate(0%, 80%); */
	/* transform: translate(0%, 80%); */
}

.headerContainer h2 {
	display: inline-block;
	/* width: 60%; */
	height: auto;
	/* font-size: 70px; */
	/* font-size: 60px; */
	font-size: 3.75em;
	color: #fff;
	font-family: brandon-grotesque, sans-serif !important;
	font-weight: 500;
	font-style: normal;
	/* transform: translate(8%, 90%); */
	/* transform: translate(8%, 90%); */
	animation: fadeIn ease 8s;
	-webkit-animation: fadeIn ease 8s;
	-moz-animation: fadeIn ease 8s;
	-o-animation: fadeIn ease 8s;
	-ms-animation: fadeIn ease 8s;


}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@-o-keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@-ms-keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.headerContainer h3 {
	display: inline-block;
	/* width: 70%; */
	height: auto;
	color: #a4844e;
	font-size: 55px;
	/*font-family: brandon-grotesque, sans-serif !important; */
	/* font-weight: 300; */
	font-style: normal;
	/* font-weight: 200; */
	/* transform: translate(30%, 100%); */
	/* transform: translate(30%, 100%); */
	font-family: BrandonGrotesque, Brandon Grotesque, sans-serif !important;
	font-weight: 350;
	
}

.headerContainer h1, .headerContainer h2, .headerContainer h3{
	display: inline-block;
}
/*HEADER END*/
/*SECTION BEGIN*/
section{
	background-color: white;
	padding: 2em 0 0 0;
	width: 100%;
	height: auto;
	padding-top: 10em;
	margin: 0 auto;
}

section > div > h2.outlineText{
	text-align: center;
	font-size: 82px;
	font-family: brandon-grotesque, sans-serif !important;
	font-weight: 300;
	font-style: normal;
	color: white;
	text-shadow:
	/* 0 0 4px #a4844e,
    0 0 4px #a4844e,  
    0 0 4px #a4844e,
    0 0 4px #a4844e,
	0 0 4px #a4844e;  */
    
}
/*TOP RIGHT, TOP LEFT, BOTTOM LEFT, BOTTOM RIGHT*/
   /* 0 0 4px #a4844e,
    0 0 4px #a4844e,  
    0 0 4px #a4844e,
    0 0 4px #a4844e,
	0 0 4px #a4844e;   */

	/* -4px -4px 0 #a4844e,
	4px 4px 0 #a4844e,
	-4px -4px 0 #a4844e,
	4px 4px 0 #a4844e,
    -4px -4px 0 #a4844e, */
@supports (	-webkit-text-stroke: 2px #a4844e) {
	section > div > h2{
		text-align: center;
		font-size: 82px;
		font-family: brandon-grotesque, sans-serif !important;
		-webkit-text-stroke: 2px #a4844e;
		-webkit-text-fill-color: white;
		font-weight: 300;
		font-style: normal;  
	
		}
	}
div.skew{
	background-color: white;
	position: relative;
	z-index: 10;
	clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
	margin-bottom: -10vw;
}
article.about {
	width: 100%;
	height: 30em !important;
	padding-top: 2em;
	/* margin-bottom: 5em; */
	/* background-color: white;
	position: relative;
	z-index: 10;
	clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
	margin-bottom: -10vw; */
}
img{
	/* max-width: 90%; */
	width: 60%;
	/* width: 60%; */
	/* width: 55%; */
	height: auto;
	margin: auto;
	display: block;

}
.about p {
	/* max-width: 725px; */
	/* max-width: 695px; */
	/* max-width: 700px; */
	max-width: 705px;
	margin: 0 auto;
	/* font-size: 1.3em; */
	font-size: 1.5em;
	/* font-family: brandon-grotesque, sans-serif;
	font-style: normal;
	font-weight: 400; */
	/* font-family: Helvetica, sans-serif; */
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #383838;
}
/*ABOUT LINK*/
body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > section > div.col-12.skew > article > p > a{
	text-decoration: underline;
	color: #5a86ad;
	/* color: #9dc6d1; */
	/* font-size: 3em; */
	/* font-family: BrandonGrotesque, Brandon Grotesque;
	font-weight: 400; */
}
body > div > div > div.col-lg-8.col-md-8.col-sm-12 > main > section > div.col-12.skew > article > p > a:hover{
	/* color: #9dc6d1; */
	/* color: #bbd1df; */
	color:#21212d
	/* background-color: #a4844e; */
	/* border-radius: 50px;
	width: 65px;
	height: 85px; */

}
#projects {
	background-color: #3f4756;
	width: 100%;
	height: auto;
	text-align: center;
	/* padding-top: 10em; 
	padding-bottom: 5em; */
	padding-top: 15em; 
	padding-bottom: 10em;
	margin: 0 auto;
}

#projects h2{
	color: white;
	font-family: BrandonGrotesque, Brandon Grotesque, sans-serif !important;
	font-size: 3.75em;
	margin-bottom: 1.5em;
	/* font-family: brandon-grotesque, sans-serif !important; */
	/* font-weight: 300; */
	font-style: normal;
	/* font-weight: 700; */
	font-weight: 500;
	letter-spacing: 2px;


}
#projects div{
	/* margin-top: 4em; */
	font-size: 4em;
	font-family: BrandonGrotesque, Brandon Grotesque, sans-serif !important;
	font-weight: 350;
    /* display: flex;
    justify-content: center;  */
}
.circle {
	display: inline-block;
	height: 9em;
	width: 9em;
	/* padding-top: 60px; */
	line-height: 18px;
	border-radius: 50%;
	color: white;
	/* margin: 0 0 0 -100px; */
	/* height: 12em;
	width: 12em;  */
	/* height: 10em;
	width: 10em;  */
	

}
#projects div a:nth-child(1){ 
	/* font-family: BrandonGrotesque-Medium, Brandon Grotesque; */
	position: relative;
	z-index: 1;
	/* background-color: #a4844e; */
	/* margin: 0 auto; */
	background-color:#a3abbd;
	text-decoration: underline;
	


}
#projects div a:nth-child(2){ 
	position: relative;
	z-index: 2;
	background-color: #a4844e;
	text-decoration: underline;
	margin-left: -100px;
	

}
#projects > div > a:nth-child(1) > p, #projects > div > a:nth-child(2) > p{
	font-family: BrandonGrotesque, Brandon Grotesque, sans-serif !important;
	font-weight: 350 !important;
	font-style: normal !important;
}

/* #projects div a:nth-child(2) p, #projects div a:nth-child(1) p {
	margin-top: 3.5em;
	font-size: 3em;
	font-family: BrandonGrotesque, Brandon Grotesque;
	font-weight: 350;
	
	
} */
#projects div a{ 
	display: flex;
	justify-content: center;
	align-items: center
  }
/*SECTION END*/

/*BEGIN ASIDE FIND ME*/
/*BEGIN ARTICLE FOR TESTIMONIES*/
.findMe article {
	/*
	width: 100%;
	height: auto;
*/
	display: inline-block;
	/* background-color: #9dc6d1; */
	background-color:  #5a86ad;
	border-radius: 3em;
	line-height: 1.5em;
	color: white;

	/* border-color: #a3abbd;
	border: 5px solid; */


}

.findMe > article:nth-child(1) {
	/* float: left; */
	width: 30%;
	/* height: 15em; */
	height: auto;
	margin: 0 10%;
	padding: 2%;

}

.findMe > article:nth-child(2) {
	width: 30%;
	height: auto;
	margin: 0 10%;
	padding: 2%;
	/* height: 15em; */
	height: auto;

}

.findMe > article > p {
	margin: 0 auto;
}


/*END ASIDE FIND ME*/
/*END ARTICLE FOR TESTIMONIES*/

/*BEGIN ASIDE - FIND ME*/
.findMe {
	background-color: white;
	width: inherit;
	height: auto;
	padding-bottom: 7em;

}

h4 {
	font-size: 4em;
	color: #3f4756;
	text-align: center;
	margin-top: 1.5em;
}

aside ul {

	list-style: none;

}

aside li {
	width: 45%;
	height: auto;
	font-size: 2em;
	margin: 0 auto;
	line-height: 2em;
}

/*END ASIDE - FIND ME*/
/*BEGIN FOOTER*/
footer {
	background-color: #a4844e;
	width: 100%;
	height: auto;
	padding: 2em 0 2em 0;
}

footer p {
	text-align: center;
	color: #fff;
	font-size: 1.2em;
	line-height: 1.5em;
}

/*EX EX LG SCREEN*/
@media only screen and (max-width: 1582px) and (min-width: 1552px){
	.jumbotron{
		padding-top: 20%;
		padding-bottom: 20%;
	}
	div .headerContainer{
		 /* padding: 0 0 5em 0px;  */
	}

	
}
@media only screen and (max-width: 1551px) and (min-width: 1433px) {
	.jumbotron{
		padding-top: 18%;
		padding-bottom: 18%;
	}
	div .headerContainer{
		 /* padding: 0 0 5em 125px;  */
	}
	.headerContainer h1{
		font-size: 75px !important;
	}
	.headerContainer h2{
		font-size: 53px;
		
	}
	.headerContainer h3{
		font-size: 38px;
	}
	/* .container{
		padding-left: 0 !important;
		padding-right: 0 !important;
	} */
	
	
}
/*EX LG SCREEN*/
@media only screen and (max-width: 1432px) and (min-width: 1200px) {
	.jumbotron{
		padding-top: 17%;
		padding-bottom: 17%;
	}
	div .headerContainer{
		 /* padding: 0 0 5em 110px;  */
	}
	.headerContainer h1 {
		font-size: 63px !important;
	}

	.headerContainer h2 {
		font-size: 44px !important;
	}

	.headerContainer h3 {
		font-size: 35px !important;
	}


}


/*LG SCREEN*/
@media only screen and (max-width: 1199px) and (min-width: 992px) {
	.jumbotron{
		padding-top: 16%;
		padding-bottom: 16%;
	}
	div .headerContainer{
		/* padding: 0 0 5em 70px;  */
	}
	.headerContainer h1 {
		font-size: 50px !important;
	}

	.headerContainer h2 {
		font-size: 35px !important;
	}

	.headerContainer h3 {
		font-size: 28px !important;
	}

}

/*LG SCREEN TO MEDIUM*/
@media only screen and (max-width: 1119px) and (min-width: 768px) {
/*
	.navbar-collapse{
		padding-right: .5em !important;
	}
*/
}

/*MED SCREEN*/
@media only screen and (max-width: 991px) and (min-width: 768px) {
	.jumbotron{
		padding-top: 15%;
		padding-bottom: 15%;
	}
	div .headerContainer{
		 /* padding: 0 0 5em 15px;  */
	}
/*
	main.menu-active{
		transform: none;
	}
*/
	.headerContainer h1 {
		font-size: 40px !important;
	}


	.headerContainer h2 {
		font-size: 29px !important;
	}

	.headerContainer h3 {
		font-size: 23px !important;
	}

}

/*ALL SCREENS SMALLER THAN 767*/
@media only screen and (max-width:767px) {

	body > div > div > div.col-lg-2.col-md-2.col-sm-12.navDiv {
		position: absolute !important;

	}
	main.menu-active{
		transform: none;
	}

	header .jumbotron {
		position: relative;

	}
	body > div > div > div.col-lg-2.col-md-2.col-sm-12 > nav {
		padding: 0 !important;
	}
	.navDiv {
		padding-left: 0px !important;
		padding-right: 0px !important;
		


	}
	

	body > div > div > div.col-lg-8.col-md-8.col-sm-12 {
		padding-left: 0px !important;
		padding-right: 0px !important;

	}
	.jumbotron {
	max-width: 100%;
	background: url('https://jennp1987.github.io/Creative-Cog-Design/images/creativeCogHeaderNewMobile.png');

	background-size: cover;
	background-position: center;
	height: 100%;
	background-repeat: no-repeat;
	background-color: #21212d;


}

	



}

/*SM SCREEN*/
@media only screen and (max-width: 767px) and (min-width: 577px) {
	.jumbotron{
		padding-top: 15% !important;
		padding-bottom: 0;
	}

	body > div > div > div.col-lg-2.col-md-2.col-sm-12 > nav {
		padding: 0 !important;
	}
	.navbar-toggler {
		    padding: .25rem 1.2rem !important;
		
	}
	button {
		/*	width: 100%;*/
		text-align: left;
	}
	.navDiv {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	div .headerContainer{
		/* padding: 0 0 0 85px;  */
	}
	.headerContainer h1 {
		font-size: 40px !important;
	}

	.headerContainer h2 {
		font-size: 29px !important;
	}

	.headerContainer h3 {
		font-size: 23px !important;
	}

}

/*EX SM SCREEN*/
@media only screen and (max-width: 576px) and (min-width: 363px) {
	.jumbotron{
		padding-top: 20% !important;
		padding-bottom: 10% !important;
	}

	div .headerContainer{
		/* padding: 2em 0 3em 85px;  */
	}
	h1 {
		font-size: 25px !important;
	}

	.headerContainer h2 {
		font-size: 18px !important;
	}

	.headerContainer h3 {
		font-size: 12px !important;
	}
	section {
		padding-top: 3em;
	}
	.circle{
		height:15em;
		width: 15em;
		padding-top: 0;

	}
	#projects > a:nth-child(2){
		margin: 3em auto 0 auto;
	}
	.circle p, #projects > a > p{
		/* margin-top:2.5em;*/
		font-size: 2.5em; 
		margin: 2.9em auto;
	}
	

}
@media only screen and (max-width: 362px){
	.jumbotron{
		padding-top: 20% !important;
		padding-bottom: 10% !important;
	}
	div .headerContainer{
		/* padding: 2em 0 0 20px; */
	}
	h1 {
		font-size: 23px !important;
/*		transform: translate(0%, 80%);*/
	}

	.headerContainer h2 {
		font-size: 20px !important;
/*		transform: translate(8%, 90%);*/
	}

	.headerContainer h3 {
		font-size: 12px !important;
/*		transform: translate(30%, 100%);*/
	}
	.circle{
		height:15em;
		width: 15em;
		padding-top: 0;

	}
	#projects > a:nth-child(2){
		margin: 3em auto 0 auto;
	}
	section {
		padding-top: 3em;
	}
	.circle p, #projects > a:nth-child(1) > p, #projects > a:nth-child(2) > p{
		/* margin-top:2.5em;*/
		font-size: 2.5em; 
		margin: 2.9em auto;
	}
}
