* {
			box-sizing: border-box;
			margin: 0;
			padding: 0;
		}

		body {
			font-family: BrandonGrotesque, sans-serif;
			perspective-origin: 0% 50%;
			perspective: 800px;
			background: #21212d;
			width: 100%;
			height: auto;
		}

		main {
			transition: transform 150ms ease-out;
		}

		nav {
			font-family: BrandonGrotesque-Medium, sans-serif;
			z-index: 100;
			position: absolute;
			top: 0px;
			bottom: 0px;
			left: 0px;
			right: 0px;
			width: 16em;
			background-color: #353441;
			/*Makes Nav dissapear*/
			transform: translateX(-16em);
		}

		nav.menu-active {
			/*positions nav*/
			transform: translateX(0);
		}



		nav.menu-hover {
			/*pops on hover*/
			transform: translateX(-15em);

		}



		nav p {
			font-family: BrandonGrotesque-Medium, Brandon Grotesque;
			z-index: 300;
			display: block;
			position: absolute;
			top: 0;
			right: -65px;
			height: 60px;
			width: 65px;
			line-height: 60px;
			font-size: 0.8em;
			letter-spacing: .1em;
			color: white;
			text-transform: uppercase;
			text-align: center;
/*			background-color: #63531F;*/
/*			background-color: #a4844e;*/
			background-color: #353441;
			cursor: pointer;
		}

		nav p:hover {
			color: #353441;
			background: white;
		}
/*Start of fallbacks*/
		nav ul {
			margin: 0;
			padding: 0;
			/*fallbacks*/
/*
			list-style-type: none;
			position: relative;
*/
		}

		nav li {
			display: inline-block;
			padding: 0 1em;
			width: 100%;
			height: 60px;
			color: #9dc6d1;
			line-height: 60px;
			background-color: #353441;
			transition: all 0.5s ease-in;
			/*fallbacks*/
/*			display: none;*/

		}
/*FALLBACKS COMPLETELY*/
/*
nav ul ul{
	display: none;
	position: absolute;
	top: 100%;
}
nav li:hover{
	display: inline-block;
	z-index: 500;
}
*/
/*END FALLBACKS COMPLETELY*/

/*
		nav li::nth-of-type(2n) {
			background-color: #3a3947;
		}
*/

		nav li:hover, body > nav > ul > li:nth-child(2) > ul > li:hover {
			background: #a4844e;
			color: white;
		}
/*second UL*/
nav ul li {
	position: relative;
}
nav ul li ul {
	display: none;
	position: absolute;
	left: 100%;
	top: 0;
	/*to show at bottom of main menu*/
	text-align: center;
/*	padding: 0;*/
	/*	margin-left: 0;*/
	
}
nav ul li:hover > ul {
	display: block;
/*	background-color: #a4844e;*/
	z-index: 11;

}

/*
nav > ul::after {
	content: "";
	display: block;
	clear: both;
}
*/
/*second UL*/

		main {
			z-index: 0;
			position: absolute;
			top: 0px;
			left: 0px;
			bottom: 0px;
			right: 0px;
			display: flex;
			align-items: center;
/*			overflow: hidden;*/
/*			background-image: url("https://jennp1987.github.io/Creative-Cog-Design/images/finalCreativeCogBkground.png");*/
			transform-origin: 0% 50%;
/*			background-size: cover;*/

		}

/*
		main::after {
			content: '';
			display: block;
			position: absolute;
			z-index: 1;
			top: 0px;
			left: 0px;
			bottom: 0px;
			right: 0px;
			background: linear-gradient(to right, transparent, rgba(33, 33, 45, .5));
			visibility: hidden;
			opacity: 0;
			transition: opacity 150ms ease-out,
				visibility 0s 150ms;
		}
*/


		main.menu-active {

			transform: translateX(1em) rotateY(1deg);
		}


/*
		main.menu-active::after {
			visibility: visible;
			opacity: 1;
			transition: opacity 150ms ease-out,
				visibility 0s,

		}
*/


/*
		main.menu-hover {
			border-radius: 0.001px;
			transform: translateX(1em) rotateY(1deg);
		}
*/


	 main {
			position: absolute;
			top: 0px;
			bottom: 0px;
			left: 0px;
			right: 0px;
			margin: auto;
			padding: 1em 4em;
			max-width: 100%;
/*			overflow: auto;*/
			background-color: rgba(255, 255, 255, .5);

		}


/*
		section h1 {
			font-weight: 800;
			text-transform: uppercase;
			font-size: 2em;

		}
*/

/*
		section p {

			display: inline-block;
			margin: 16px 0;

		}
*/

header {


/*
	position: relative;
	z-index: 10;
	clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
	margin-bottom: -10vw;
*/
/*	padding-top: 3.5em;*/

/*
	background:
		url('https://jennp1987.github.io/Creative-Cog-Design/images/finalCreativeCogBkground.png');
	background-size: cover;
	height: 100vh;
*/
	width: 100%;
	height: 50em;
	/*margin-bottom: 3.5em;
*/
	background-color: #3f4756;


}
/*HEADING*/
h1{
	font-size: 101px;
	color: #a4844e;
	font-family: BrandonGrotesque-Thin, Brandon Grotesque;
	font-weight: 200;
	
}
h2{
	font-size: 70px;
	color: #fff;
	font-family: BrandonGrotesque-Medium, Brandon Grotesque;
	font-weight: 500;
}
h3{
	font-size: 55px;
	color: #a4844e;
	font-family: BrandonGrotesque-Thin, Brandon Grotesque;
	font-weight: 200;
	
}
/*Begin of header animation*/


.container {
	width: 100%;
	height: auto;
	padding: 5%;

}


.container h1 {
	font-size: 101px;
	color: #a4844e;
	font-family: BrandonGrotesque-Thin, Brandon Grotesque;
	font-weight: 200;
	transform: translate(0%, 150%);
/*
	animation: move 3s ease-in-out 1s normal;
	-webkit-animation: move 3s ease-in-out 1s normal;
	-ms-animation: move 3s ease-in-out 1s normal;
	-moz-animation: move 3s ease-in-out 1s normal;
*/
/*
	transform: translate(50%, 90%);
	-ms-transform: translate(50%, 90%);
*/
/*
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
*/
}



@-webkit-keyframes move {
/*
	0% {
		transform: translate(50%, 90%);
	}

	100% {
		transform: translate(8%, 90%);
	}
*/
}



.container h2 {
	font-size: 70px;
	color: #fff;
	font-family: BrandonGrotesque-Medium, Brandon Grotesque;
	font-weight: 500;
	transform: translate(50%, 170%);
/*	transform: translate(0%, 100%);*/
	
	animation: move 3s ease-in-out 1s normal;
	-webkit-animation: move 3s ease-in-out 1s normal;
	-ms-animation: move 3s ease-in-out 1s normal;
	-moz-animation: move 3s ease-in-out 1s normal;

/*
	transform: translate(50%, 90%);
	-ms-transform: translate(50%, 90%);
*/

	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;

}

@-webkit-keyframes move {
	0% {
		transform: translate(50%, 170%);
	}

	100% {
		transform: translate(8%, 170%);
	}
}


.container h3 {
	font-size: 55px;
	color: #a4844e;
	font-family: BrandonGrotesque-Thin, Brandon Grotesque;
	font-weight: 200;
	
/*
	-webkit-animation: webGraphics 3s ease-in-out 1s normal;
	animation: webGraphics 3s ease-in-out 1s normal;
*/
	transform: translate(50%, 190%);
/*
	animation-delay: 1s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
*/
}


@keyframes webGraphics {
/*
	0% {
		transform: translate(0%, 140%);
	}

	100% {
		transform: translate(50%, 140%);
	}
*/
}


/*End of header animation*/

section {
/*	margin-top: 7em;*/
/*	margin-bottom: 50em;*/
	padding: 7em 0;
	width: 100%;
	height:auto;
	background-color: white;
	
}

/*LOGO*/
img {
	max-width: 90%;
	width: 49%;
	height: auto;
	margin: auto;
	display: block;
	margin-bottom: 2em;
}

/*ABOUT ARTICLE*/
article.about {
	width: 100%;
	height: 25em;
/*	margin-bottom: 5em;*/
	background-color: white;
	position: relative;
	z-index: 10;
	clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
	margin-bottom: -10vw;
}

.about p {
	max-width: 750px;
	margin: 0 auto;
	font-size: 2em;
}

body > section > article.about > p:nth-child(3) {
	text-decoration-line: underline;
}

/*
#homePgDiv img {
	max-width: 100%;
	width: 100%;
	height: auto;
	position: relative;
	z-index: 2;
}
*/


/*
article .skew{
	position: relative;
	width: 100%;
	height: auto;
	height: 300px;

	
}
*/


/*

 .skew:after{
	position: absolute;
	height:100%;
	width: 100%;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	content:'';
	background: inherit;
	transform-origin: top left;
	transform: skewY(6deg);
	
}
*/



/*
article .skew:after{
	position: absolute;
	height:100%;
	width: 100%;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	content:'';
	background: inherit;
	transform-origin: top right;
	transform: skewY(-6deg);
	
}
*/



/*END ABOUT ARTICLE*/
/*BEGIN PROJECTS ARTICLE*/
#projects {
	background-color: #3f4756;
	width: 100%;
	height: 45em;
/*	position: absolute;
	top: 214%;
*/
	text-align: center;
	padding-top: 10em;



}

.circle {
	display: inline-block;
	height: 30em;
	width: 30em;
	padding-top: 60px;
	line-height: 18px;
	border-radius: 50%;
	color: white;
	margin: 0 0 0 -100px;
	/*	box-shadow: 10px 15px 30px rgba(0, 0, 0, .5);*/
	/*	margin: auto 0;*/

}

#projects > a:nth-child(1) {
	position: relative;
	z-index: 2;
	background-color: #a4844e;
	margin: 0 auto;


}

#projects > a:nth-child(2) {
	position: relative;
	z-index: 1;
	background-color: #336699;
	

}

.circle p {
	margin-top: 3.5em;
	font-size: 3em;
}

/*END PROJECTS ARTICLE*/

/*BEGIN ARTICLE FOR TESTIMONIES*/
.findMe article{
/*
	width: 100%;
	height: auto;
*/
	display: inline-block;
	background-color: #9dc6d1;
	border-radius: 1em;
	line-height: 1.5em;
	
	
}
.findMe > article:nth-child(1){
	float: left;
	width: 30%;
	height: 15em;
	margin: 0 10%;
	padding: 2%;
	
}
.findMe > article:nth-child(2){
	width: 30%;
	height: auto;
	margin: 0 10%;
	padding: 2%;
	height: 15em;
	
}
.findMe > article > p{
	margin: 0 auto;
}

/*END ARTICLE FOR TESTIMONIES*/

/*BEGIN ASIDE - FIND ME*/
.findMe {
	background-color: white;
	width: 100%;
	height: auto;
/*	padding-top: 7em;*/
	padding-bottom: 7em;

	/*	display: block;*/
	/*	position: relative;*/
	/*	top: 50em;*/
/*	margin: 0 auto;*/

}

h4 {
	font-size: 4em;
	color: #3f4756;
	text-align: center;
	margin-top: 1.5em;
}

aside ul {

	list-style: none;

}

aside li {
	width: 45%;
	height: auto;
	font-size: 2em;
	margin: 0 auto;
	line-height: 2em;
}

/*END ASIDE - FIND ME*/
/*BEGIN FOOTER*/
footer {
	background-color: #a4844e;
	width: 100%;
	height: auto;
	padding: 2em 0 2em 0;
}

footer p {
	text-align: center;
	color: #fff;
	font-size: 1.2em;
	line-height: 1.5em;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 1133px){
	.container h3{
		font-size: 50px;
		transform: translate(40%, 190%);
	}

}
@media only screen and (max-width: 1080px) {
	.circle{
		height: 25em;
		width: 25em;
	}
	.circle p{
		font-size: 2.5em;
	}
}
