
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body {
	font-family: brandon-grotesque, Helvetica, sans-serif !important;
	background-color: #21212d !important;
    border-top: 1em #3f4756 solid;
    color: #fff !important;
    width: 100%;
    height: auto;
    font-size: 1.2em !important;
	
}

.container-fluid, .row, .col{
    margin: 0 !important;
    padding: 0 !important;
} 


.jumbotron{
    /* background: url('../images/uptalentArchImage.jpg') no-repeat center !important;
	background-size: contain;
	/* padding: 2em 0 2em 0; */
    /* background-position: center;  */
    background-color: #fff !important;
    padding: 0 !important; 
}
img{
    max-width: 100%;
    height: auto;
}
div#back {
    padding-left: 2em;
}
a{
    color: #5a86ad !important;
	
}

p{
    margin-bottom: .5em !important;
}
 h1{
    font-size: 1.5em !important;
    margin-bottom: 2em !important;
}

#details p:nth-child(1), #details > p:nth-child(3), h2,h3,h4{
    text-transform: uppercase;
    text-decoration: underline;
}


#details{
    margin: 0 auto !important;
    width: 35%;
    text-align: ;
}
#summary{
    width: 65%;
    height: auto;

}
#summary p:nth-child(1){
    text-transform: uppercase;
    text-decoration: underline;
}
.defineProblem{
    background-color:#fff !important;
    color: #383838;
}

/*VIDEO*/
#video{
    background-color: #fff;
    /* display: block;
    height: auto;
    width: 100%;
    margin: auto; */
}
.video{
    background-color: #fff;
    display: block;
    height: auto;
    width: 100%;
    margin: auto;
  
}
.iframe-container{
 position: relative;
    width: 100%;
    /* padding-bottom: 56.25%; */
    height: auto;
   
    /* max-width: 1215px;
    max-height: 480px; */
    margin: 0 auto;
 
   

}
.iframe-container iframe{
    /* display: block;
    width: 100%;
    height: auto; */
    display: block;
    margin: 0 auto;
  
   
    /* position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* position: absolute;
    margin: 0 auto;
    /* top: 0;
    left: 0; */
   /* width: 70%;
    height: 70%; */
}
#movie_player{
    background-color: #fff !important;
}

  /*VIDEO ENDS*/

/*FOOTER BEGIN*/
footer {
	background-color: #a4844e;
	width: 100%;
	height: auto;
	padding: 2em 0 2em 0;
}

footer p {
	text-align: center;
	color: #fff;
	font-size: 1.2em;
	line-height: 1.5em;
}