*{
padding: 0;
margin: 0;
}
@font-face {
	font-family: 'Rezland Logotype Font';
	font-style: normal;
	font-weight: normal;
	src: local('Rezland Logotype Font'), url('REZ.woff') format('woff');
}
html,
body {
height: 100%;
margin: 0;
}
body {
	background: #ffffff;
}
/*Begin Animations*/
.container{
font-family: brandon-grotesque, sans-serif;
text-align: center;
font-style: normal;
position: absolute;
top: 30%;
left: 10%;
transform: translate(-15%, -50%);
/*
position: relative;
bottom: 100%;
left: 30%;
*/
}
.container span{
	display: block;
}
.frontEnd{
	color: #ffffff;
	font-size: 4em;
	letter-spacing: .8em;
	font-weight: 700;
/*	margin-bottom: 10px;*/
	background: #3f4756;
	position: relative;
	animation: text 3s 1;
/*	margin-bottom: 20px;*/
}
.webDeveloper{
	color: #a4844e;
	font-size: 2em;
}
header{
	position: relative;		
}
@keyframes text {
	0%{
		color: #3f4756;
		margin-bottom: -45px;
	}
	30%{
		letter-spacing: 25px;
		margin-bottom: -45px;
	}
	85%{
		letter-spacing: 8px;
		margin-bottom: -45px;
	}
}
header img{
 	width: 100%;
	height: auto;
}
section{
	display: flex;
	justify-content: center;
	align-items: center;
}
/*Creative Cog logo animation*/
h1 {
position: relative;
	letter-spacing: 6px;
	color: #336699;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
/*	-ms-background-clip: text;*/
/*	-ms-text-fill-color: transparent;*/
	background-clip: text;
/*	-ms-background-clip: text;*/
/*	text-fill-color: transparent;*/
	background-image: linear-gradient(45deg,
		#3f4756,
		#336699,
		#a4844e,
	    #6e531f);
/*
	background-image: -ms-linear-gradient(45deg,
		#3f4756,
		#336699,
		#a4844e,
	    #6e531f);
*/
	animation: .8s shake infinite alternate;

}



@keyframes shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}

/*End Animations*/

/*For IE*/
h1, h1 .headline {
  font-family:'Rezland Logotype Font';
  font-weight: normal;
  font-size: 42px;
}
h1 .headline p{
  font-family: serif;
  display: inline;
}

svg {
  height: 2em;
  width: 50%;
}

