* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body {
	font-family: BrandonGrotesque, Helvetica, sans-serif !important;
/*	perspective-origin: 0% 50%;*/
	perspective: 800px;
    /* background-color: #21212d !important; */
    background-color: white;
	border-top: 1em #3f4756 solid;
	/*
	width: 100%;
	height: auto;
*/
}
/*PRELOADING BCKG IMG*/
/*
body::after{
	position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
	content: url('https://jennp1987.github.io/Creative-Cog-Design/images/creativeCogHeaderNewpng825.png');
}
*/

/*MAIN*/
main{
transition: transform 150ms ease-out;
/*	position: absolute;*/
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
/*	padding: 1em 4em;*/
	max-width: 100%;
	/* background-color: #3f4756; */
	transform: none;
}
main.menu-active {
	transform: translateX(1em) rotateY(1deg);
}

/*NAV*/
nav {
	font-family: BrandonGrotesque-Medium, sans-serif;
/*	z-index: 100;*/
}

.navbar > button {
	background-color: #353441;
	color: white;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 200;
	line-height: 60px;
	font-size: 0.8em;
	letter-spacing: .1em;
	border-radius: 0;
/*	z-index: 300;*/
}

.navbar > button:hover {
	color: #353441 !important;
	background: white !important;

}

.navbar-nav .nav-link {
	padding-left: 1em !important;
}

.navbar li {
	list-style: none;
	padding-right: .5em;


}

#collapseExample > ul > li.nav-item.dropdown.show > div {
	background-color: #353441;
}

.navbar li,
collapseExample > ul > li.nav-item.dropdown > div {
	background-color: #353441;

}

/*STYLES A*/
#collapseExample > ul > li > a,
#collapseExample > ul > li.nav-item.dropdown.show > div > div:nth-child(1) > a,
#collapseExample > ul > li.nav-item.dropdown.show > div > div:nth-child(2) > a {
	/* color: #9dc6d1; */
	/* color: #5a86ad; */
	color: #bbd1df;

}

/*HOVER STYLE*/
#collapseExample > ul > li > a:hover,
#collapseExample > ul > li.nav-item.dropdown.show > div > div:nth-child(1) > a:hover,
#collapseExample > ul > li.nav-item.dropdown.show > div > div:nth-child(2) > a:hover {
	color: #9dc6d1;
}
.navbar li a:hover {
	background-color: #a4844e;
	

}
.navbar-toggler:focus,
 li .dropdown a:active, #collapseExample > ul > li.nav-item.dropdown.show > a{
	outline: none;
}

/*STYLE THE INNER Of DROPDOWN*/
#collapseExample > ul > li.nav-item.dropdown.show > div {
	padding: 0;
	border: none;
}
/*NAV COLS*/
body > div > div{
/*	z-index: 400;*/
}

/*END NAV*/

/*MAIN*/
section div{
    height: 200px;
}

/*CUSTOM CSS*/
.my-flex-container {
	border: 2px solid green;
	height: 100px;
	margin-bottom: 20px;
}

.my-flex-container-column{
	border: 2px solid green;
	height: 200px;
	margin-bottom: 20px;
}

.my-flex-item{
	background-color: lightgray;
	border: 1px dotted grey;
	height: 48px;
}
.my-flex-item-2{
	background-color: lightgray;
	border: 1px dotted grey;
	height: 96px;
}