/*div#firstDiv{

    margin: 0 auto;
    text-align: center;
}

.carousel-item	{
	width: 405px;
	height: 350px;
	border: solid 5px #a4844e;
	border-radius: 30px;
	text-align: left;
	font-size: 1.2em;
	font-weight: bolder;
	padding: .8em;
	display: block;
	 position: relative; 
	 margin-top: 100px;  
}
 .testimonialCircle { 

	background:#a3abbd;
	border-radius: 50px;
	border: none;
    position: absolute; 
    top: -15px;
    left: -20px;
	width: 40px;
	height: 40px; 
	 z-index: 10; 
}

.rect{
    display:block;
    height:40px;
    width:150px;
    background:red;
    position:relative;
    margin-top:100px;
  }
  
  .circle{
    position:absolute;
    height:40px;
    width:40px;
    border-radius:40px;
    border:3px solid white;
    left:1%;
    margin-left:-25px;
    top: -20px;
    background:red;
  }*/

  @keyframes fade {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  * {
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100%;
  }
  
  body h1 {
    text-align: center;
  }
  
  .slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    position: relative;
  }
  
  .slide-container .slide {
    display: none;
    width: 100%;
  }
  
  .slide-container .slide.fade {
    animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }
  
  .slide-container .slide img {
    width: 100%;
  }

  slide-container .prev,
.slide-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.slide-container .prev:hover,
.slide-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/*BACK AND NEXT*/
.slide-container .prev {
  left: 2px;
}

.slide-container .next {
  right: 2px;
}

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.dots-container .dot {
  cursor: pointer;
  margin: 5px;
  width: 20px;
  height: 20px;
  color: #333;
  border-radius: 50%;
  background-color: #dfd6ce;
}

.dots-container .dot.active {
  border: 2px solid green;
}